<block-ui>
  <div class="menu-container" [class.menu-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="element-dark-primary">
      <mat-toolbar-row class="mat-elevation-z6">
        <button mat-icon-button *ngIf="isMenuVisible()" (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1 class="menu-app-name">Melodic</h1>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <p class="view-text">{{getCurrentViewTitle()}}</p>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container class="menu-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <a mat-list-item routerLink="/deploying"><i class="material-icons">post_add</i>&nbsp;Deployment</a>
          <a mat-list-item routerLink="/process"><i class="material-icons">personal_video</i>&nbsp;Process View</a>
          <a mat-list-item routerLink="/application"><i class="material-icons">web_asset</i>&nbsp;Your Application</a>
          <a mat-list-item routerLink="/process/details/deployment"><i class="material-icons">backup</i>&nbsp;Deployed Artifacts</a>
          <a mat-list-item routerLink="."><i class="material-icons">account_tree</i>&nbsp;Melodic Components</a>
          <a mat-list-item routerLink="/provider/cloud-definition"><i class="material-icons">settings_applications</i>&nbsp;Providers Settings</a>
          <a mat-list-item routerLink="/byon"><i class="material-icons">settings_applications</i>&nbsp;BYON Settings</a>
          <a mat-list-item routerLink="/process/details/offer"><i class="material-icons">local_offer</i>&nbsp;Offers</a>
          <a mat-list-item routerLink="/simulation"><i class="material-icons">toys</i>&nbsp;Simulation
          </a>
          <a mat-list-item routerLink="/serverless-testing"><i class="material-icons">cloud_done</i>&nbsp;Serverless Testing</a>
          <a *ngIf="isAdmin()" mat-list-item routerLink="/user"><i class="material-icons">supervisor_account</i>&nbsp;Manage Users</a>
          <a mat-list-item routerLink="/user/password"><i class="material-icons">visibility</i>&nbsp;Change Password</a>
          <a mat-list-item (click)="onLogOutClick(); snav.close()"><i class="material-icons">eject</i>&nbsp;Log Out</a>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</block-ui>
