<div class="mat-elevation-z8">
  <mat-card>
    <mat-card-content>

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <table mat-table [dataSource]="data" matSort matSortActive="id" matSortDisableClear
             matSortDirection="asc">

        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let row; let i = index;">
            {{(paginator.pageIndex) * paginator.pageSize + i + 1}}
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <ng-container matColumnDef="job">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Job</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.job}}</td>
        </ng-container>

        <ng-container matColumnDef="instantiation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Instantiation</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.instantiation}}</td>
        </ng-container>

        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.owner}}</td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.state}}</td>
        </ng-container>

        <ng-container matColumnDef="processes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Processes</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span>processes</span>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-list>
                <mat-list-item
                  *ngFor="let taskItem of getTasksList(row)">
                  {{taskItem}}
                </mat-list-item>
              </mat-list>

            </mat-expansion-panel>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-spinner [diameter]="150" *ngIf="loadingScheduleCloudiatorListInProgress"></mat-spinner>

      <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

    </mat-card-content>
  </mat-card>
</div>
