table {
  width: 100%;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: var(--double-margin);
}

.mat-spinner-div {
  padding: var(--quadruple-margin);
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

#id-column {
  flex: 0 0 50% !important;
  width: 50% !important;
}
