<h2 mat-dialog-title>Sensitive variables</h2>

<mat-dialog-content>
  <p>In already uploaded model exist such sensitive application variables.
    Please, check their correctness and fill the missing values.</p>

  <mat-card>
    <mat-slide-toggle
      color="primary"
      [(ngModel)]="bulkEditActive"
      (change)="onBulkEditToggleChange($event)">
      Bulk edit
    </mat-slide-toggle>

    <form #sensitiveVariablesFormId="ngForm" [formGroup]="form">

      <ng-container formArrayName="variables" *ngIf="!bulkEditActive">

        <mat-table [dataSource]="dataSource">

          <!--name column-->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
            <mat-cell *matCellDef="let element" [formGroup]="element">
              <mat-form-field>
                <textarea matInput formControlName="name"
                          [readonly]="true"
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="5">
                {{element.name}}
                </textarea>
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <!--value column-->
          <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef> Value</mat-header-cell>
            <mat-cell *matCellDef="let element;" [formGroup]="element">
              <mat-form-field>
                <input matInput placeholder="value" formControlName="value" type="password">
              </mat-form-field>
            </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

      </ng-container>

      <div *ngIf="bulkEditActive">
        <mat-card-subtitle>Variables are separated by new lines. Keys and values are separated by :</mat-card-subtitle>
        <mat-form-field>
        <textarea matInput formControlName="bulkEditVariables"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="15">
        </textarea>
        </mat-form-field>
      </div>

    </form>
  </mat-card>

</mat-dialog-content>
<mat-dialog-actions>
  <button color="primary" mat-raised-button [mat-dialog-close]="dataSource"
          [disabled]="!isSensitiveVariablesDefinitionValid()"
          (click)="saveSensitiveVariables(sensitiveVariablesFormId)">
    <mat-icon>save</mat-icon>
    Save
  </button>
</mat-dialog-actions>
