<div class="mat-elevation-z8">
  <mat-card>
    <mat-card-content>

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <table mat-table [dataSource]="data" matSort matSortActive="task" matSortDisableClear
             matSortDirection="asc">

        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let row; let i = index;">
            {{(paginator.pageIndex) * paginator.pageSize + i + 1}}
          </td>
        </ng-container>

        <ng-container matColumnDef="task">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Task</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.task}}</td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <ng-container matColumnDef="processType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Process type</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.processType}}</td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.state}}</td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.type}}</td>
        </ng-container>

        <ng-container matColumnDef="schedule">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Schedule</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.schedule}}</td>
        </ng-container>

        <ng-container matColumnDef="node">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Node</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{getNodeName(row)}}</td>
        </ng-container>

        <ng-container matColumnDef="diagnostic">
          <th mat-header-cell *matHeaderCellDef>Diagnostic</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.diagnostic}}</td>
        </ng-container>

        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.owner}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-spinner [diameter]="150" *ngIf="loadingProcessCloudiatorListInProgress"></mat-spinner>

      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>

    </mat-card-content>
  </mat-card>
</div>
