table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  padding: var(--double-margin);
}

mat-card {
  margin-bottom: var(--quadruple-margin);
}
