<div id="preparation-environment">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
      <mat-card-subtitle>{{operationInfo}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div id="spinner-div">
        <mat-spinner [diameter]="150" *ngIf="preparationInProgress"></mat-spinner>
      </div>
    </mat-card-content>
  </mat-card>
</div>
