#xmi-uploader-div {
  padding: var(--margin-global);
  height: 100%;
}

mat-card {
  height: 100%;
  margin-bottom: var(--double-margin);
}

mat-card-content {
  height: 100%;
}

.upload-drop-zone {
  margin: var(--margin-global);
  width: 100%;
  height: 150px;
  border-style: dashed;
  border-color: var(--color-primary);
  overflow: auto;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  color: var(--color-primary);
}

.uploaded-files-list {
  margin: var(--margin-global);
  padding-top: var(--margin-global);
}

:host /deep/ mat-file-upload-queue .mat-raised-button {
  margin: var(--margin-global);
}

mat-progress-bar {
  margin-bottom: 2%;
  margin-top: 2%;
}

.mat-snack-bar-container {
  max-width: 70% !important;
}

.model-button {
  margin-left: var(--quadruple-margin);
}
