<div id="xmi-uploader-div">
    <mat-card>

      <mat-card-header>
        <mat-card-title>
          XMI Upload
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div [fileUploadInputFor]="fileUploadQueue" class="upload-drop-zone">
          Just drag and drop xmi files here
        </div>

        <div>
            <input [fileUploadInputFor]="fileUploadQueue" type="file"
                   id="fileUploadDialog">
        </div>

        <mat-progress-bar *ngIf="uploadInProgress" color="primary" mode="indeterminate"></mat-progress-bar>

        <div class="uploaded-files-list">
          <app-files-queue #fileUploadQueue
                           [fileExtension]="'xmi'"
                           [notAllowedNames]="uploadedModels"
                           multiple>
            <app-file-uploader (uploadEvent)="onFileUploadEvent($event)"
                               *ngFor="let file of fileUploadQueue.files; let i = index" [fileAlias]="'file'"
                               [file]="file"
                               [httpUrl]="uploadXmiUrl"
                               [id]="i">
            </app-file-uploader>
          </app-files-queue>
        </div>

      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>
          <h3>Your uploaded models</h3>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <mat-progress-bar *ngIf="deletingInProgress || secureVariablesUploadingInProgress"
                          mode="indeterminate"></mat-progress-bar>

        <mat-spinner *ngIf="downloadingModelsListInProgress"></mat-spinner>

        <div *ngFor="let model of uploadedModels">
          <mat-card>
            <mat-card-title>
              <span>{{model.name}}</span>
              <button (click)="onDefineSecureVariablesClick(model)" *ngIf="variablesForDefiningExist(model)"
                      [disabled]="deletingInProgress" class="model-button"
                      color="primary" mat-raised-button>
                Define secure variables
              </button>
              <button (click)="onDeleteModelClick(model)" [disabled]="deletingInProgress" color="warn" mat-button
                      class="model-button">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-card-title>
            <mat-card-subtitle>{{getInformationForModel(model)}}</mat-card-subtitle>
          </mat-card>
        </div>

      </mat-card-content>
    </mat-card>
</div>
