<mat-card>
  <form #ipAddressFormId="ngForm" [formGroup]="ipAddressForm">
    <mat-card-title>Ip address</mat-card-title>
    <mat-dialog-content>
      <mat-card>
        <mat-form-field>
          <mat-select formControlName="ipAddressType" placeholder="ip address type" name="ipAddressType" required>
            <mat-option *ngFor="let ipType of byonEnums.ipAddressTypes" [value]="ipType">
              {{ipType}}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="form.ipAddressType.hasError('required')">
            {{getRequiredMsg()}}
          </mat-error>
        </mat-form-field>

        <mat-form-field id="ip-version-field">
          <mat-select formControlName="ipVersion" placeholder="ip version" name="ipVersion" required>
            <mat-option *ngFor="let ipVer of byonEnums.ipVersions" [value]="ipVer">
              {{ipVer}}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="form.ipVersion.hasError('required')">
            {{getRequiredMsg()}}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="value" placeholder="value" name="value" required>
          <mat-error
            *ngIf="form.value.hasError('required')">
            {{getRequiredMsg()}}
          </mat-error>
        </mat-form-field>
      </mat-card>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button mat-raised-button type="button" color="warn" mat-dialog-close>
        <mat-icon>undo</mat-icon>
        Cancel
      </button>
      <button mat-raised-button [disabled]="ipAddressFormId.invalid"
              (click)="addIpAddress(ipAddressFormId)"
              color="primary">
        <mat-icon>save</mat-icon>
        Save
      </button>
    </mat-dialog-actions>
  </form>
</mat-card>
