<mat-card>

  <a mat-raised-button id="monitoring-button" color="primary"
     routerLink="/application/grafana">
    <mat-icon class="mat-18">multiline_chart</mat-icon>
    Monitoring application
  </a>

  <mat-tab-group>

    <mat-tab label="Virtual Machines">
      <app-vm-list></app-vm-list>
    </mat-tab>

    <mat-tab label="Functions">
      <app-function-list></app-function-list>
    </mat-tab>

  </mat-tab-group>
</mat-card>
