#deployment-form {
  padding: var(--margin-global);
  height: 100%;
}

.card-div {
  padding: var(--double-margin);
}

mat-form-field {
  padding-right: var(--double-margin);
}

.wide-field {
  width: 20%;
}

mat-card {
  height: 100%;
}

.slide-toggle-with-margin {
  margin-bottom: var(--triple-margin);
}
