<div id="deployment-form">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Information for deployment</mat-card-title>
      <mat-card-subtitle>Please check the correctness of deployment information and fill in the missing</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form #deploymentFormId="ngForm" [formGroup]="deploymentForm">

        <mat-spinner *ngIf="xmiModelsLoadingInProgress"></mat-spinner>

        <div class="card-div">
          <mat-form-field class="wide-field">
            <mat-select formControlName="applicationId" placeholder="application id" name="applicationId" required>
              <mat-option *ngFor="let appId of applicationIds" [value]="appId">
                {{appId}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.applicationId.errors">{{getErrorRequiredMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <mat-card-subtitle>
          <mat-icon color="primary">info</mat-icon>
          In simulation mode real VMs or functions won't be created.
        </mat-card-subtitle>
        <mat-slide-toggle formControlName="isSimulation" class="slide-toggle-with-margin" color="primary">
          Simulation mode
        </mat-slide-toggle>

        <mat-divider></mat-divider>

        <div class="card-div">
          <app-cloud-definitions></app-cloud-definitions>
        </div>

        <mat-divider></mat-divider>

        <div class="card-div">
          <app-byon-definitions></app-byon-definitions>
        </div>

      </form>
    </mat-card-content>
  </mat-card>

</div>
