table {
  width: 100%;
}

.mat-row {
  height: auto;
}

.mat-cell, .mat-header-cell {
  padding: var(--double-margin);
}

.instance-name-list-item {
  height: 100%;
  padding-bottom: var(--quadruple-margin);
}

mat-chip {
  padding-bottom: var(--quadruple-margin);
  padding-top: var(--quadruple-margin);
}
