<div class="mat-elevation-z8" class="div-with-center">
  <table mat-table [dataSource]="dataSource" matSortActive="component" matSortDirection="asc" matSort>

    <!-- Key Column -->
    <ng-container matColumnDef="key">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Component</th>
      <td mat-cell *matCellDef="let element" id="key-column" class="field-with-wrapping">
        <mat-chip-list>
          <mat-chip color="primary" class="field-with-wrapping" selected>
            {{element.key}}
          </mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <!-- To-create Column -->
    <ng-container matColumnDef="toCreate">
      <th mat-header-cell *matHeaderCellDef> To create</th>
      <td mat-cell *matCellDef="let element" id="to-create-column" class="field-with-wrapping">
        <mat-list>
          <mat-list-item *ngFor="let instance of element.value.toCreate" class="instance-name-list-item">
            {{instance.name}}
          </mat-list-item>
        </mat-list>
      </td>
    </ng-container>

    <!-- To-delete Column -->
    <ng-container matColumnDef="toDelete">
      <th mat-header-cell *matHeaderCellDef> To delete</th>
      <td mat-cell *matCellDef="let element" id="to-delete-column" class="field-with-wrapping">
        <mat-list>
          <mat-list-item *ngFor="let instance of element.value.toDelete" class="instance-name-list-item">
            {{instance.name}}
          </mat-list-item>
        </mat-list>
      </td>
    </ng-container>

    <!-- To-remain Column -->
    <ng-container matColumnDef="toRemain">
      <th mat-header-cell *matHeaderCellDef> To remain</th>
      <td mat-cell *matCellDef="let element" id="to-remain-column" class="field-with-wrapping">
        <mat-list>
          <mat-list-item *ngFor="let instance of element.value.toRemain" class="instance-name-list-item">
            {{instance.name}}
          </mat-list-item>
        </mat-list>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-spinner *ngIf="loadingDataInProgress"></mat-spinner>

  <mat-paginator [pageSizeOptions]="[3, 5]" showFirstLastButtons></mat-paginator>

</div>
