<div id="deployment-stepper">
  <mat-horizontal-stepper linear labelPosition="bottom">

    <mat-step [completed]="!preparationEnvironmentComponent.preparationInProgress">
      <ng-template matStepLabel>Prepare machine</ng-template>
      <app-preparation-environment></app-preparation-environment>
      <div class="navigation-buttons">
        <button mat-raised-button color="accent" [disabled]="preparationEnvironmentComponent.preparationInProgress"
                matStepperNext>
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </mat-step>

    <mat-step class="second-step" [completed]="uploaderXmiComponent.isAnyUploadedReadyModel()">
      <ng-template matStepLabel>Upload xmi</ng-template>
      <app-uploader-xmi></app-uploader-xmi>
      <div class="navigation-buttons">
        <button mat-raised-button color="primary" matStepperPrevious>
          <mat-icon>arrow_back</mat-icon>
        </button>

        <button mat-raised-button color="accent" [disabled]="!uploaderXmiComponent.isAnyUploadedReadyModel()"
                (click)="onGoToDeploymentFormClick()"
                matStepperNext>
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </mat-step>

    <mat-step [completed]="deployingFormComponent.isDeploymentFormCompleted()">
      <ng-template matStepLabel>Add information</ng-template>
      <app-deploying-form></app-deploying-form>
      <div class="navigation-buttons">
        <button mat-raised-button color="primary" matStepperPrevious>
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-raised-button color="accent" [disabled]="deployingFormComponent.deploymentForm.invalid
        || deployingFormComponent.isCloudDefinitionLoadingInProgress() || deployingFormComponent.xmiModelsLoadingInProgress"
                matStepperNext>
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Start reasoning</ng-template>


      <div id="deployment-div">
        <mat-card>
          <mat-card-title>
            Start application
          </mat-card-title>
          <mat-card-subtitle>
            In order to run your application please press the green button
          </mat-card-subtitle>

          <mat-card-content>

            <mat-progress-bar *ngIf="isSendingRequest" mode="indeterminate"></mat-progress-bar>

            <button mat-fab class="start-button" [disabled]="isSendingRequest" (click)="onStartButtonClick()">
              <mat-icon>play_circle_outline</mat-icon>
            </button>

          </mat-card-content>
        </mat-card>
      </div>


      <div class="navigation-buttons">
        <button mat-raised-button color="primary" [disabled]="isSendingRequest" matStepperPrevious>
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
    </mat-step>

  </mat-horizontal-stepper>
</div>
