#deployment-stepper {
  height: 100%;
}

mat-horizontal-stepper {
  height: 100%;
}

button {
  margin-right: var(--margin-global);
}

.navigation-buttons {
  margin-top: var(--double-margin);
}

mat-card {
  height: 330px;
}

mat-card-content {
  height: 100%;
}

.start-button {
  background-color: var(--color-accent);
  position: center;
  transform: scale(3) translate(60%, 40%);
}

mat-progress-bar {
  margin-bottom: 2%;
  margin-top: 2%;
}
