<div id="test-results-id">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Test Results
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="results == null; else resultsBlock">
        There are currently no results.
      </div>
      <ng-template #resultsBlock>
        <div *ngIf="results.testsRunResult === 'FAILURE'; else resultTree">
          <p>An error occurred while running the tests at stage {{ results.failedAtStage }}.</p>
          <span>Message <pre>{{ results.message }}</pre></span>
        </div>
        <ng-template #resultTree>
            <p>Overall duration: {{ results.duration }} seconds</p>
            <mat-accordion>
              <mat-expansion-panel
                *ngFor="let functionTestResult of results.functionTestResults"
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span><samp>{{ functionTestResult.functionName }}</samp> (<samp>{{ functionTestResult.overallResult }}</samp>)</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                  <tr><td class="test-case-key">Function name</td><td><samp>{{ functionTestResult.functionName }}</samp></td></tr>
                  <tr><td class="test-case-key">Tests duration</td><td>{{ functionTestResult.duration }} seconds</td></tr>
                  <tr><td class="test-case-key">Number of passed tests</td><td>{{ functionTestResult.passed }}</td></tr>
                  <tr><td class="test-case-key">Number of failed tests</td><td>{{ functionTestResult.failed }}</td></tr>
                  <tr><td class="test-case-key">Number of passed ignored</td><td>{{ functionTestResult.ignored }}</td></tr>
                  <tr *ngIf="functionTestResult.failedAtStage">
                    <td class="test-case-key">Failed to run tests due to failure at stage</td>
                    <td><samp>{{ functionTestResult.failedAtStage }}</samp></td>
                  </tr>
                  <tr *ngIf="functionTestResult.message">
                    <td class="test-case-key">Message</td>
                    <td><samp>{{ functionTestResult.message }}</samp></td>
                  </tr>
                </table>
                <mat-accordion>
                  <h4>Test cases</h4>
                  <mat-expansion-panel
                    *ngFor="let testCaseResult of functionTestResult.testCaseResults; let i = index"
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <span>#{{ i+1 }} ({{ testCaseResult.result }})</span>
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <table>
                      <tr><td class="test-case-key">Result</td><td><samp>{{ testCaseResult.result }}</samp></td></tr>
                      <tr><td class="test-case-key">Duration</td><td>{{ testCaseResult.duration }} seconds</td></tr>
                      <tr><td class="test-case-key">Input event</td><td><samp>{{ testCaseResult.event }}</samp></td></tr>
                      <tr><td class="test-case-key">Condition for the output</td><td><samp>{{ testCaseResult.condition }}</samp></td></tr>
                      <tr><td class="test-case-key">Expected value</td><td><samp>{{ testCaseResult.expectedValue }}</samp></td></tr>
                      <tr *ngIf="testCaseResult.actualOutput">
                        <td class="test-case-key">Actual output</td><td><samp>{{ testCaseResult.actualOutput }}</samp></td>
                      </tr>
                      <tr *ngIf="testCaseResult.message">
                        <td class="test-case-key">Message</td><td><samp>{{ testCaseResult.message }}</samp></td>
                      </tr>
                    </table>
                  </mat-expansion-panel>
                </mat-accordion>

              </mat-expansion-panel>
            </mat-accordion>
        </ng-template>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
