samp {
  white-space: pre-wrap;
}

td {
  padding: 5px 30px 5px 0;
  vertical-align: top;
}

mat-card {
  margin: 10px 0;
}

.mat-card-content {
  margin-left: 16px;
}

.test-case-key {
  font-weight: bold;
}

.mat-expansion-panel-header-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
