<div class="mat-elevation-z8">
  <mat-card>
    <mat-card-content>

      <button mat-raised-button (click)="onCreateNewTechnicalUserClick()" color="primary">
        <mat-icon>add</mat-icon>
        Create new technical user account
      </button>

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <table mat-table [dataSource]="data" matSort matSortActive="username" matSortDisableClear
             matSortDirection="asc">

        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let row; let i = index;">
            {{(paginator.pageIndex) * paginator.pageSize + i + 1}}
          </td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.username}}</td>
        </ng-container>

        <ng-container matColumnDef="unlockAccount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Unlock account</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">
            <button mat-raised-button (click)="onUnlockAccountClick(row)" color="accent"
                    [disabled]="!row.lockedAccount">
              Unlock
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let row">
            <button mat-raised-button color="warn" (click)="onDeleteClick(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-spinner [diameter]="150" *ngIf="loadingDataInProgress || deletingUserInProgress"></mat-spinner>

      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>

    </mat-card-content>
  </mat-card>
</div>
