table {
  width: 100%;
}

.mat-row {
  height: auto;
}

.mat-cell, .mat-header-cell {
  padding: var(--double-margin);
}

#variable-column {
  flex: 0 0 80% !important;
  width: 80% !important;
}

#id-column {
  flex: 0 0 20% !important;
  width: 20% !important;
}
