<div class="mat-elevation-z8" class="div-with-center">

  <div>
    <mat-chip-list>
      <mat-chip color="primary" *ngIf="cpSolution" class="field-with-wrapping" selected>Utility value:
        {{cpSolution.utilityValue}}
      </mat-chip>
    </mat-chip-list>
  </div>

  <table mat-table [dataSource]="dataSource" matSortActive="variable" matSortDirection="asc" matSort>

    <!-- Variable Column -->
    <ng-container matColumnDef="variable">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Variable</th>
      <td mat-cell *matCellDef="let element" id="variable-column" class="field-with-wrapping">{{element.variable.id}}
      </td>
    </ng-container>

    <!-- Value Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Value</th>
      <td mat-cell *matCellDef="let element" id="id-column" class="field-with-wrapping"> {{element.value}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-spinner *ngIf="loadingDataInProgress"></mat-spinner>

  <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>

</div>
