<mat-card>
  <form #byonDefinitionFormId="ngForm" [formGroup]="byonDefinitionForm">
    <mat-card-title>Byon definition</mat-card-title>
    <mat-dialog-content>

      <mat-card>
        <mat-form-field>
          <input matInput formControlName="name" placeholder="name" required>
          <mat-error
            *ngIf="form.name.hasError('required')">
            {{getRequiredMsg()}}
          </mat-error>
        </mat-form-field>
      </mat-card>

      <mat-card>
        <mat-card-subtitle><h3>IP addresses</h3></mat-card-subtitle>

        <mat-spinner *ngIf="byonEnumsLoadingInProgress"></mat-spinner>

        <app-ip-address-list
          [ipAddresses]="ipAddresses"
          [byonEnums]="byonEnums"
          [isReadMode]="isReadMode">
        </app-ip-address-list>
      </mat-card>

      <mat-card class="mat-card-with-bigger-bottom">
        <mat-card-subtitle><h3>Login credentials</h3></mat-card-subtitle>
        <form #loginCredentialFormId="ngForm" [formGroup]="loginCredentialForm">
          <mat-form-field>
            <input matInput formControlName="username" placeholder="username" required>
            <mat-error
              *ngIf="loginCredentialFormControl.username.hasError('required') && (loginCredentialFormControl.username.dirty || loginCredentialFormControl.username.touched)">
              {{getRequiredMsg()}}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="password" placeholder="password"
                   [type]="passwordHide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility_off' :
              'visibility'}}
            </mat-icon>
            <mat-error
              *ngIf="loginCredentialFormControl.password.hasError('oneOfTwoFieldsRequired') && (loginCredentialFormControl.password.dirty || loginCredentialFormControl.password.touched)">
              {{getPasswordOrKeyRequiredMsg()}}
            </mat-error>
          </mat-form-field>

          <mat-form-field id="private-key-field">
            <mat-label>Private key</mat-label>
            <textarea matInput
                      formControlName="privateKey"
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="10"></textarea>
            <mat-error
              *ngIf="loginCredentialFormControl.privateKey.hasError('oneOfTwoFieldsRequired') && (loginCredentialFormControl.privateKey.dirty || loginCredentialFormControl.privateKey.touched)">
              {{getPasswordOrKeyRequiredMsg()}}
            </mat-error>
          </mat-form-field>
        </form>
      </mat-card>

      <mat-card>
        <mat-card-subtitle><h3>Node properties</h3></mat-card-subtitle>
        <form #nodePropertiesFormId="ngForm" [formGroup]="nodePropertiesForm">
          <mat-form-field id="provider-id-field">
            <input matInput formControlName="providerId" placeholder="provider id" required>
            <mat-error
              *ngIf="nodePropertiesFormControl.providerId.hasError('required') && (nodePropertiesFormControl.providerId.dirty || nodePropertiesFormControl.providerId.touched)">
              {{getRequiredMsg()}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="node-properties-common-field">
            <input matInput formControlName="numberOfCores" placeholder="number of cores" required>
            <mat-error
              *ngIf="nodePropertiesFormControl.numberOfCores.hasError('required') && (nodePropertiesFormControl.numberOfCores.dirty || nodePropertiesFormControl.numberOfCores.touched)">
              {{getRequiredMsg()}}
            </mat-error>
            <mat-error
              *ngIf="nodePropertiesFormControl.numberOfCores.hasError('pattern') && (nodePropertiesFormControl.numberOfCores.dirty || nodePropertiesFormControl.numberOfCores.touched)">
              {{getNumberOfCoresMsg()}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="node-properties-common-field">
            <input matInput formControlName="memory" placeholder="memory" required>
            <mat-error
              *ngIf="nodePropertiesFormControl.memory.hasError('required') && (nodePropertiesFormControl.memory.dirty || nodePropertiesFormControl.memory.touched)">
              {{getRequiredMsg()}}
            </mat-error>
            <mat-error
              *ngIf="nodePropertiesFormControl.memory.hasError('pattern') && (nodePropertiesFormControl.memory.dirty || nodePropertiesFormControl.memory.touched)">
              {{getMemoryMsg()}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="node-properties-common-field">
            <input matInput formControlName="disk" placeholder="disk" required>
            <mat-error
              *ngIf="nodePropertiesFormControl.disk.hasError('required') && (nodePropertiesFormControl.disk.dirty || nodePropertiesFormControl.disk.touched)">
              {{getRequiredMsg()}}
            </mat-error>
            <mat-error
              *ngIf="nodePropertiesFormControl.disk.hasError('pattern') && (nodePropertiesFormControl.disk.dirty || nodePropertiesFormControl.disk.touched)">
              {{getDiskMsg()}}
            </mat-error>
          </mat-form-field>


          <mat-card class="mat-card-with-bigger-bottom">
            <mat-card-subtitle><h4>Operating system</h4></mat-card-subtitle>

            <mat-spinner *ngIf="byonEnumsLoadingInProgress"></mat-spinner>

            <form #operatingSystemFormId="ngForm" [formGroup]="operatingSystemForm">
              <mat-form-field>
                <mat-select formControlName="operatingSystemFamily" placeholder="operating system family"
                            name="operatingSystemFamily" required>
                  <mat-option *ngFor="let osFamily of byonEnums.osFamilies" [value]="osFamily">
                    {{osFamily}}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="operatingSystemFormControl.operatingSystemFamily.hasError('required') && (operatingSystemFormControl.operatingSystemFamily.dirty || operatingSystemFormControl.operatingSystemFamily.touched)">
                  {{getRequiredMsg()}}
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-select formControlName="operatingSystemArchitecture" placeholder="operating system architecture"
                            name="operatingSystemArchitecture" required>
                  <mat-option *ngFor="let osArchitecture of byonEnums.osArchitectures" [value]="osArchitecture">
                    {{osArchitecture}}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="operatingSystemFormControl.operatingSystemArchitecture.hasError('required') && (operatingSystemFormControl.operatingSystemArchitecture.dirty || operatingSystemFormControl.operatingSystemArchitecture.touched)">
                  {{getRequiredMsg()}}
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput formControlName="operatingSystemVersion" placeholder="operating system version"
                       required>
                <mat-error
                  *ngIf="operatingSystemFormControl.operatingSystemVersion.hasError('required') && (operatingSystemFormControl.operatingSystemVersion.dirty || operatingSystemFormControl.operatingSystemVersion.touched)">
                  {{getRequiredMsg()}}
                </mat-error>
                <mat-error
                  *ngIf="operatingSystemFormControl.operatingSystemVersion.hasError('pattern') && (operatingSystemFormControl.operatingSystemVersion.dirty || operatingSystemFormControl.operatingSystemVersion.touched)">
                  {{getOsVersionMsg()}}
                </mat-error>
              </mat-form-field>
            </form>
          </mat-card>

          <mat-card class="mat-card-with-bigger-bottom">
            <mat-card-subtitle><h4>Geolocation</h4></mat-card-subtitle>
            <form #geoLocationFormId="ngForm" [formGroup]="geoLocationForm">
              <mat-form-field>
                <input matInput formControlName="city" placeholder="city" required>
                <mat-error
                  *ngIf="geoLocationFormControl.city.hasError('required') && (geoLocationFormControl.city.dirty || geoLocationFormControl.city.touched)">
                  {{getRequiredMsg()}}
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput formControlName="country" placeholder="country" required>
                <mat-error
                  *ngIf="geoLocationFormControl.country.hasError('required') && (geoLocationFormControl.country.dirty || geoLocationFormControl.country.touched)">
                  {{getRequiredMsg()}}
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput formControlName="latitude" placeholder="latitude" required>
                <mat-error
                  *ngIf="geoLocationFormControl.latitude.hasError('required') && (geoLocationFormControl.latitude.dirty || geoLocationFormControl.latitude.touched)">
                  {{getRequiredMsg()}}
                </mat-error>
                <mat-error
                  *ngIf="(geoLocationFormControl.latitude.hasError('pattern') || geoLocationFormControl.latitude.hasError('min') || geoLocationFormControl.latitude.hasError('max')) && (geoLocationFormControl.latitude.dirty || geoLocationFormControl.latitude.touched)">
                  {{getLatitudeMsg()}}
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput formControlName="longitude" placeholder="longitude" required>
                <mat-error
                  *ngIf="geoLocationFormControl.longitude.hasError('required') && (geoLocationFormControl.longitude.dirty || geoLocationFormControl.longitude.touched)">
                  {{getRequiredMsg()}}
                </mat-error>
                <mat-error
                  *ngIf="(geoLocationFormControl.longitude.hasError('pattern') || geoLocationFormControl.longitude.hasError('min') || geoLocationFormControl.longitude.hasError('max')) && (geoLocationFormControl.longitude.dirty || geoLocationFormControl.longitude.touched)">
                  {{getLongitudeMsg()}}
                </mat-error>
              </mat-form-field>
            </form>
          </mat-card>

        </form>
      </mat-card>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button mat-raised-button type="button" color="warn" mat-dialog-close>
        <mat-icon>undo</mat-icon>
        Cancel
      </button>
      <button mat-raised-button [disabled]="byonDefinitionFormId.invalid || isReadMode"
              (click)="saveByonDefinition(byonDefinitionFormId)"
              color="primary">
        <mat-icon>save</mat-icon>
        Save
      </button>
    </mat-dialog-actions>
  </form>
</mat-card>
