mat-card {
  padding: var(--margin-global);
  margin: var(--double-margin);
}

mat-dialog-actions {
  margin-bottom: var(--margin-global);
}

mat-form-field {
  margin-left: var(--double-margin);
  width: 20%;
}

#private-key-field {
  width: 55%;
}

.mat-card-with-bigger-bottom {
  padding-bottom: var(--quadruple-margin);
}

#provider-id-field {
  width: 40%;
}

.node-properties-common-field {
  width: 18%;
}
