<mat-card>
  <mat-card-subtitle>
    <mat-icon>cloud</mat-icon>
    Define here your settings and credentials for cloud providers
  </mat-card-subtitle>

  <button mat-raised-button color="primary" (click)="onAddCloudButtonClick()">
    <mat-icon>add</mat-icon>
    Create new cloud definition
  </button>

  <table mat-table [dataSource]="data" matSortActive="provider" matSortDisableClear
         matSortDirection="asc" matSort>

    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let row; let i = index;" (click)="onRowClick(row)">
        {{(paginator.pageIndex) * paginator.pageSize + i + 1}}
      </td>
    </ng-container>

    <ng-container matColumnDef="provider">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Provider</th>
      <td mat-cell class="field-with-wrapping" *matCellDef="let row" (click)="onRowClick(row)">
        {{row.api.providerName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="accent" (click)="onEditClick(row)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="warn" (click)="onDeleteClick(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-spinner [diameter]="150" *ngIf="operationOnDataInProgress"></mat-spinner>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>
