<h2 mat-dialog-title>Missing secret in provider credentials</h2>

<form #secretForm="ngForm" [formGroup]="providerSecretForm">

  <mat-dialog-content>
    <p>Please, fill missing secret value for
      <b>{{getVariableName()}}</b>
      in provider credentials.
    </p>

    <mat-card>

      <mat-form-field>
        <input matInput formControlName="value" placeholder="variable value" required
               [type]="secretHide ? 'password' : 'text'">
        <mat-error
          *ngIf="form.value.hasError('required') && (form.value.dirty || form.value.touched)">
          Required value
        </mat-error>
        <mat-icon matSuffix (click)="secretHide = !secretHide">{{secretHide ? 'visibility_off' :
          'visibility'}}
        </mat-icon>
      </mat-form-field>

    </mat-card>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button [disabled]="secretForm.invalid"
            (click)="saveSecretVariable(secretForm)"
            color="primary">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </mat-dialog-actions>

</form>

