table {
  width: 100%;
}

.mat-row {
  height: auto;
}

.mat-cell, .mat-header-cell {
  padding: var(--double-margin);
}

#id-column {
  flex: 0 0 60% !important;
  width: 60% !important;
}

#domain-column {
  flex: 0 0 40% !important;
  width: 40% !important;
}
