<div class="mat-elevation-z8" class="div-with-center">
  <table mat-table [dataSource]="dataSource" matSortActive="id" matSortDirection="asc" matSort>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
      <td mat-cell *matCellDef="let element" id="id-column" class="field-with-wrapping"> {{element.id}}</td>
    </ng-container>

    <!-- Domain values Column -->
    <ng-container matColumnDef="domainValues">
      <th mat-header-cell *matHeaderCellDef> Domain values</th>
      <td mat-cell *matCellDef="let element" id="domain-column" class="field-with-wrapping">
        {{getDomainValues(element.domain)}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-spinner *ngIf="loadingDataInProgress"></mat-spinner>

  <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>

</div>
