<div class="main-div-for-cp">
  <mat-card id="main-mat-card">

    <mat-card-content>

      <div *ngIf="!isExistedProcess">
        <h5>You haven't got any chosen process to view constraint problem</h5>
      </div>

      <div id="div-for-cp-id">
        <mat-chip-list>
          <mat-chip color="primary" *ngIf="cpModel" selected>Constraint Problem id: {{cpModel.id}}</mat-chip>
        </mat-chip-list>
      </div>

      <mat-grid-list cols="3" rows="3" rowHeight="1.5:1.1" [gutterSize]="'5px'">

        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <mat-card class="card-with-table">
            <mat-card-title>Variables</mat-card-title>
            <app-cp-variables-list></app-cp-variables-list>

            <div class="div-for-utility">
              <mat-chip-list>
                <mat-chip id="chip-for-utility-formula" color="primary" *ngIf="cpModel" selected>Utility formula:
                  {{cpModel.utilityFormula}}
                </mat-chip>
              </mat-chip-list>
            </div>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="2">
          <mat-card class="card-with-table">
            <mat-card-title>Constants</mat-card-title>
            <app-cp-constants-list></app-cp-constants-list>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="2">
          <mat-card class="card-with-table">
            <mat-card-title>Metrics</mat-card-title>
            <app-cp-metrics-list></app-cp-metrics-list>
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>

    </mat-card-content>

  </mat-card>
</div>
