.card-with-table {
  padding: var(--double-margin);
  width: 100%;
}

#div-for-cp-id {
  margin-bottom: var(--margin-global);
}

.div-for-utility {
  margin-top: var(--margin-global);
}

.main-div-for-cp {
  height: 100%;
}

#main-mat-card {
  padding: var(--double-margin);
  margin: var(--double-margin);
  height: 100%;
  overflow: auto;
}

#chip-for-utility-formula {
  margin-top: var(--margin-global);
  padding: var(--quadruple-margin);
}
