<div id="yml-uploader-div">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        YAML file Upload
      </mat-card-title>
      <mat-card-subtitle>
        Upload the test configuration file here. Only .yml and .yaml files are accepted.
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div>
        <input
          type="file"
          #ymlFile
          id="fileUploadDialog"
          (change)="onFileSelectionEvent($event)"
          accept=".yml,.yaml"
        >
      </div>
      <div class="file" *ngIf="fileToUpload != null">
          {{fileToUpload.name}} ({{convertBytesToSize(fileToUpload.size)}})
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-button
        color="primary"
        [disabled]="fileUploadDisabled"
        (click)="onFileUploadEvent()"
        title="Upload file"
      >
        <mat-icon>file_upload</mat-icon>
        <span>Upload</span>
      </button>
      <button
        mat-button
        color="warn"
        [disabled]="fileUploadDisabled"
        (click)="removeSelectedFile()"
        title="Cancel"
      >
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Test configuration
      </mat-card-title>
      <mat-card-subtitle>
        You can check the current test configuration.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <div *ngIf="!testConfig; else testConfigBlock">
          <p>There is no test configuration file on the server.</p>
        </div>
        <ng-template #testConfigBlock>
          <h4>Configuration file</h4>
          <pre>{{ testConfig.path }}</pre>
          <h4>Tests</h4>
          <mat-accordion>
            <mat-expansion-panel
              *ngFor="let functionConfig of testConfig.configuration.tests"
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <samp>{{ functionConfig.functionName }}</samp>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <table *ngIf="functionConfig.triggerPath">
                <tr><td class="test-case-key">Trigger path</td><td><samp>{{ functionConfig.triggerPath }}</samp></td></tr>
              </table>
              <mat-accordion>
                <h4>Test cases</h4>
                <mat-expansion-panel
                  *ngFor="let testCase of functionConfig.testCases; let i = index"
                  (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false"
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span>
                        #{{ i+1 }} Output invoked with <samp>{{ testCase.event }}</samp>
                        {{ formatCondition(testCase.condition) }} <samp>{{ testCase.expectedValue }}</samp>
                      </span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <table>
                    <tr><td class="test-case-key">Input event</td><td><samp>{{ testCase.event }}</samp></td></tr>
                    <tr><td class="test-case-key">Condition for the output</td><td><samp>{{ testCase.condition }}</samp></td></tr>
                    <tr><td class="test-case-key">Expected value</td><td><samp>{{ testCase.expectedValue }}</samp></td></tr>
                  </table>
                </mat-expansion-panel>
              </mat-accordion>

            </mat-expansion-panel>
          </mat-accordion>

        </ng-template>

      </div>

    </mat-card-content>
    <mat-card-actions>
      <button
        *ngIf="testConfig"
        mat-button
        class="delete-button"
        [disabled]="deletingTestConfig"
        (click)="onFileDeletionEvent()"
        title="Delete test configuration"
      >
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
