td {
  padding: 5px 30px 5px 0;
  vertical-align: top;
}

button {
  padding: 0 5px;
}

mat-card {
  margin: 10px 0;
}

.mat-button {
  margin-left: 16px;
}

.file {
  margin-top: 20px;
}

.mat-accordion .mat-expansion-panel:first-of-type {
  margin-top: 10px;
}

.mat-expansion-panel-header-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.test-case-key {
  font-weight: bold;
}

.delete-button {
  color: var(--color-warn);
}

.mat-card-content {
  margin-left: 16px;
}


.mat-card-actions {
  margin-left: 16px;
}

.mat-card-actions span {
  padding-right: 8px;
}
