<div class="mat-elevation-z8">
  <mat-card>

    <mat-card-subtitle>
      There are definitions of Byons from your Melodic settings. In order to use some of them in deployment,
      you need to add them to Cloudiator in 'Add information' step by performing new deployment.
    </mat-card-subtitle>

    <mat-card-content>

      <button mat-raised-button color="primary" (click)="onCreateNewByonDefinitionClick()">
        <mat-icon>add</mat-icon>
        Create new byon definition
      </button>

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <table mat-table [dataSource]="data" matSort matSortActive="name" matSortDisableClear
             matSortDirection="asc">

        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let row; let i = index;" (click)="onReadByonDefinitionClick(row)">
            {{(paginator.pageIndex) * paginator.pageSize + i + 1}}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row" (click)="onReadByonDefinitionClick(row)">
            {{row.name}}
          </td>
        </ng-container>

        <ng-container matColumnDef="publicIpAddress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Public IP v4 address</th>
          <td mat-cell *matCellDef="let row" (click)="onReadByonDefinitionClick(row)">
            {{getPublicIpV4(row)}}
          </td>
        </ng-container>

        <ng-container matColumnDef="provider">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Provider</th>
          <td mat-cell *matCellDef="let row" (click)="onReadByonDefinitionClick(row)">
            {{getProviderName(row)}}
          </td>
        </ng-container>

        <ng-container matColumnDef="cores">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cores</th>
          <td mat-cell *matCellDef="let row" (click)="onReadByonDefinitionClick(row)">
            {{row.nodeProperties.numberOfCores}}
          </td>
        </ng-container>

        <ng-container matColumnDef="memory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Memory</th>
          <td mat-cell *matCellDef="let row" (click)="onReadByonDefinitionClick(row)">
            {{row.nodeProperties.memory}}
          </td>
        </ng-container>

        <ng-container matColumnDef="disk">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Disk</th>
          <td mat-cell *matCellDef="let row" (click)="onReadByonDefinitionClick(row)">
            {{row.nodeProperties.disk}}
          </td>
        </ng-container>

        <ng-container matColumnDef="system">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>System</th>
          <td mat-cell *matCellDef="let row" (click)="onReadByonDefinitionClick(row)">
            {{getSystemWithVersion(row)}}
          </td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
          <td mat-cell *matCellDef="let row" (click)="onReadByonDefinitionClick(row)">
            {{getLocation(row)}}
          </td>
        </ng-container>

        <ng-container matColumnDef="diagnostic">
          <th mat-header-cell *matHeaderCellDef>Diagnostic</th>
          <td mat-cell *matCellDef="let row" class="field-with-wrapping" (click)="onReadByonDefinitionClick(row)">
            {{row.diagnostic}}
          </td>
        </ng-container>

        <ng-container matColumnDef="sshConnection">
          <th mat-header-cell *matHeaderCellDef>SSH connection</th>
          <td mat-cell *matCellDef="let row">
            <button mat-raised-button color="primary" (click)="onSshConnectionClick(row)"
                    [disabled]="!isSshConnectionPossible(row)">
              SSH connection
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let row">
            <button mat-raised-button color="accent" (click)="onEditByonDefinitionClick(row)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let row">
            <button mat-raised-button color="warn" (click)="onDeleteByonDefinitionClick(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-spinner [diameter]="150" *ngIf="byonLoadingInProgress"></mat-spinner>

      <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

    </mat-card-content>
  </mat-card>
</div>
