table {
  width: 100%;
}

mat-cell,
.mat-cell,
mat-footer-cell,
.mat-footer-cell,
mat-header-cell, .mat-header-cell {
  padding: var(--double-margin) !important;
}

.propertyCheckbox {
  padding-left: var(--margin-global);
}
