<div>
  <mat-card-subtitle>
    <h3>
      <mat-icon>cloud</mat-icon>
      Cloud Definitions
    </h3>
    <button mat-raised-button color="primary" (click)="onProvidersButtonClick()">
      Cloud definitions for providers
    </button>

    <p>
      List of all providers with your defined credentials.
    </p>
    <p>
      You can add new or update some of existed items by choose Cloud definitions for providers button.
    </p>
    <p>
      Here you can remove providers which may be used for your application.
      In Properties section you can choose specific images or properties for deployment.
      Please note, that keys of your properties can't be duplicated.
    </p>
  </mat-card-subtitle>

  <table mat-table [dataSource]="data" matSort matSortActive="provider" matSortDisableClear
         matSortDirection="asc">

    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let row; let i = index;">
        {{(paginator.pageIndex) * paginator.pageSize + i + 1}}
      </td>
    </ng-container>

    <ng-container matColumnDef="provider">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Provider</th>
      <td mat-cell *matCellDef="let row">{{row.api.providerName}}</td>
    </ng-container>


    <!--properties-view-->
    <ng-container matColumnDef="properties">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Properties</th>
      <td mat-cell *matCellDef="let row">

        <mat-chip-list>

          <mat-chip *ngFor="let propertiesItem of row.cloudConfiguration.properties">
            {{propertiesItem.name}}

            <mat-checkbox class="propertyCheckbox" [(ngModel)]="propertiesItem.checked"
                          [disabled]="hasDuplicatedProperty(propertiesItem, row)"
                          (change)="onPropertiesCheckboxChange(propertiesItem, row)" color="primary"
                          [ngModelOptions]="{standalone: true}"></mat-checkbox>
          </mat-chip>

        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="choose">
      <th mat-header-cell *matHeaderCellDef>Use in deployment</th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox [(ngModel)]="row.checked" [ngModelOptions]="{standalone: true}" color="primary"
                      (change)="onCheckboxUseInDeploymentChange(row)"></mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-spinner *ngIf="providersSettingsLoadingInProgress"></mat-spinner>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
