<div id="changePasswordForm">
  <mat-card>
    <mat-card-title>
      Change password
    </mat-card-title>

    <form #changePasswordFormId="ngForm" [formGroup]="changePasswordForm">
      <mat-card-content>
        <mat-form-field class="fullWidthControl">
          <mat-icon matPrefix>{{'person'}}</mat-icon>
          <input appAutoFocus formControlName="username" name="username" matInput placeholder="Username" required>
        </mat-form-field>

        <mat-form-field class="fullWidthControl">
          <mat-icon matPrefix>{{'lock'}}</mat-icon>
          <input formControlName="oldPassword" name="oldPassword" matInput placeholder="Current password" required
                 [type]="currentPasswordHide ? 'password' : 'text'">
          <mat-error *ngFor="let validation of messages.validationMessages.oldPassword">
            <mat-error
              *ngIf="form.oldPassword.hasError(validation.type) && (form.oldPassword.dirty || form.oldPassword.touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
          <mat-icon matSuffix (click)="currentPasswordHide = !currentPasswordHide">{{currentPasswordHide ?
            'visibility_off' :
            'visibility'}}
          </mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidthControl">
          <mat-icon matPrefix>
            {{'lock'}}
          </mat-icon>
          <input formControlName="newPassword" name="newPassword" matInput placeholder="New password" required
                 [type]="newPasswordHide ? 'password' : 'text'">
          <mat-error *ngFor="let validation of messages.validationMessages.newPassword">
            <mat-error
              *ngIf="form.newPassword.hasError(validation.type) && (form.newPassword.dirty || form.newPassword.touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
          <mat-icon matSuffix
                    matTooltip="Strong password: min 8 signs length, min 1 uppercase letter, min 1 small letter and min 1 digit, no white signs"
                    matTooltipClass="tooltip-primary">
            {{'info'}}
          </mat-icon>
          <mat-icon matSuffix (click)="newPasswordHide = !newPasswordHide">{{newPasswordHide ? 'visibility_off' :
            'visibility'}}
          </mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidthControl">
          <mat-icon matPrefix>{{'lock'}}</mat-icon>
          <input formControlName="newPasswordConfirmation" name="newPasswordConfirmation" matInput
                 placeholder="New password confirmation" required
                 [type]="newPasswordConfirmationHide ? 'password' : 'text'">
          <mat-error *ngFor="let validation of messages.validationMessages.newPasswordConfirmation">
            <mat-error
              *ngIf="form.newPasswordConfirmation.hasError(validation.type) && (form.newPasswordConfirmation.dirty || form.newPasswordConfirmation.touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>

          <mat-icon matSuffix (click)="newPasswordConfirmationHide = !newPasswordConfirmationHide">
            {{newPasswordConfirmationHide ? 'visibility_off' :
            'visibility'}}
          </mat-icon>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions *ngIf="!changingPasswordInProgress">
        <button mat-raised-button [disabled]="changePasswordForm.invalid" (click)="onSaveClick()" color="primary">
          <mat-icon>save</mat-icon>
          Save
        </button>
      </mat-card-actions>
    </form>

    <mat-spinner *ngIf="changingPasswordInProgress"></mat-spinner>
  </mat-card>
</div>
