<div class="mat-elevation-z8">
  <mat-card>

    <mat-card-content>

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <table mat-table [dataSource]="data" matSort matSortActive="name" matSortDisableClear
             matSortDirection="asc">

        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let row; let i = index;">
            {{(paginator.pageIndex) * paginator.pageSize + i + 1}}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
          <td mat-cell *matCellDef="let row">{{row.state}}</td>
        </ng-container>

        <ng-container matColumnDef="publicIP">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Public IP</th>
          <td mat-cell *matCellDef="let row">{{row.publicIp}}</td>
        </ng-container>

        <ng-container matColumnDef="privateIP">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Private IP</th>
          <td mat-cell *matCellDef="let row">{{row.privateIp}}</td>
        </ng-container>

        <ng-container matColumnDef="providerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Provider</th>
          <td mat-cell *matCellDef="let row">{{row.provider}}</td>
        </ng-container>

        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
          <td mat-cell *matCellDef="let row">{{row.city}}</td>
        </ng-container>

        <ng-container matColumnDef="diagnostic">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Diagnostic</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row" class="field-with-wrapping">
            {{row.diagnostic}}
          </td>
        </ng-container>

        <ng-container matColumnDef="sshButton">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SSH connection</th>
          <td mat-cell *matCellDef="let row">
            <button mat-raised-button class="ssh-button" (click)="onSshConnectionClick(row)" color="primary"
                    [disabled]="!userHasPermissionToSshConnection(row)">
              SSH connection
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-spinner [diameter]="150" *ngIf="loadingVmListInProgress"></mat-spinner>

      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>

    </mat-card-content>
  </mat-card>
</div>
