<mat-card>

  <mat-card-content>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSortActive="name" matSortDirection="asc" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let row; let i = index;">
            {{(paginator.pageIndex) * paginator.pageSize + i + 1}}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let element"> {{element.name}}</td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let element"> {{element.id}}</td>
        </ng-container>

        <!-- Cores Column -->
        <ng-container matColumnDef="cores">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cores</th>
          <td mat-cell *matCellDef="let element"> {{element.cores}}</td>
        </ng-container>

        <!-- Ram Column -->
        <ng-container matColumnDef="ram">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> RAM</th>
          <td mat-cell *matCellDef="let element"> {{element.ram}}</td>
        </ng-container>

        <!-- Disk Column -->
        <ng-container matColumnDef="disk">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Disk</th>
          <td mat-cell *matCellDef="let element"> {{element.disk}}</td>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> State</th>
          <td mat-cell *matCellDef="let element"> {{element.state}}</td>
        </ng-container>

        <!-- Owner Column -->
        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let element"> {{element.owner}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-spinner [diameter]="150" *ngIf="loadingDataInProgress"></mat-spinner>

      <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>


    </div>

  </mat-card-content>

</mat-card>
