mat-card {
  margin: var(--double-margin);
}

mat-grid-tile {
  margin: var(--double-margin);
}

mat-grid-list {
  height: 100%;
}

.process-element-card {
  height: 50%;
  width: 70%;
  margin: var(--margin-global);
}

.process-element-title {
  text-align: center;
  padding-top: var(--triple-margin);
  color: whitesmoke;
}

.process-element-icon {
  font-size: 60px;
}

.process-element-color-accent {
  background-color: var(--color-accent);
}

.process-element-color-primary {
  background-color: var(--color-primary);
}

.process-element-color-warn {
  background-color: var(--color-warn);
}

.process-element-color-grey {
  background-color: var(--color-grey);
}

.second-row-mat-card {
  height: 100%;
  padding: var(--double-margin);
  width: inherit;
  overflow: auto;
}

.second-col-mat-card-narrow-window {
  height: 80%;
  padding: var(--double-margin);
  width: inherit;
  overflow: auto;
}

.div-with-center {
  width: 100%;
  text-align: center !important;
}

#main-process-mat-card {
  overflow: auto;
}

.full-height {
  height: 100%;
}

.monitoring-button {
  margin-right: var(--triple-margin);
}
