<mat-card id="main-process-mat-card">
  <button button mat-raised-button color="primary" (click)="onAdvancedViewClick()" class="monitoring-button">
    <mat-icon class="mat-18">developer_board</mat-icon>
    Advanced view
  </button>

  <button button mat-raised-button color="primary" (click)="onComponentsLogsClick()">
    <mat-icon class="mat-18">data_usage</mat-icon>
    Components logs
  </button>

  <button button mat-raised-button color="primary"
          class="button-on-right-side" (click)="onProcessesHistoryClick()">
    <mat-icon class="mat-18">history</mat-icon>
    Processes history
  </button>

  <div *ngIf="!isMonitoringProcess()">
    <h5>You haven't got any chosen process to monitoring now</h5>
  </div>

  <mat-horizontal-stepper linear labelPosition="bottom">

    <mat-step [completed]="isFetchingOffersCompleted()" *ngIf="!isReconfigurationProcess()">
      <ng-template matStepLabel>Fetching offers</ng-template>
    </mat-step>

    <mat-step [completed]="isGeneratingConstraintProblemCompleted()" *ngIf="!isReconfigurationProcess()">
      <ng-template matStepLabel>Generating Constraint Problem</ng-template>
    </mat-step>

    <mat-step [completed]="isReasoningCompleted()">
      <ng-template matStepLabel>Reasoning</ng-template>
    </mat-step>

    <mat-step [completed]="isDeployingCompleted()">
      <ng-template matStepLabel>Deploying</ng-template>
    </mat-step>

    <mat-step [completed]="isProcessFinished()">
      <ng-template matStepLabel>Updating application state</ng-template>
    </mat-step>

  </mat-horizontal-stepper>


  <!--wide window-->
  <mat-grid-list *ngIf="!isNarrowWindow()" cols="{{getNumberOfColsForWideWindow()}}" rowHeight="11rem">

    <!--first row-->
    <mat-grid-tile *ngIf="!isReconfigurationProcess()" [rowspan]="2">
      <mat-card class="process-element-card"
                [ngClass]="getClassForVariable(getFetchingOffersStatus())"
                (click)="onFetchingOffersClick()">
        <div class="process-element-title">
          Fetching offers
          <p>
            <mat-icon class="process-element-icon">
              {{getIconNameForVariable(getFetchingOffersStatus())}}
            </mat-icon>
          </p>
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="!isReconfigurationProcess()" [rowspan]="2">
      <mat-card class="process-element-card"
                [ngClass]="getClassForVariable(getGeneratingConstraintProblemStatus())"
                (click)="onGeneratingCPClick()">
        <div class="process-element-title">
          Generating Constraint Problem
          <p>
            <mat-icon class="process-element-icon">
              {{getIconNameForVariable(getGeneratingConstraintProblemStatus())}}
            </mat-icon>
          </p>
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [rowspan]="2">
      <mat-card class="process-element-card"
                [ngClass]="getClassForVariable(getReasoningStatus())"
                (click)="onReasoningClick()">
        <div class="process-element-title">
          Reasoning
          <p>
            <mat-icon class="process-element-icon">
              {{getIconNameForVariable(getReasoningStatus())}}
            </mat-icon>
          </p>
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [rowspan]="2">
      <mat-card class="process-element-card"
                [ngClass]="getClassForVariable(getDeployingStatus())"
                (click)="onDeployingClick()">
        <div class="process-element-title">
          Deploying
          <p>
            <mat-icon class="process-element-icon">
              {{getIconNameForVariable(getDeployingStatus())}}
            </mat-icon>
          </p>
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [rowspan]="2">
      <mat-card class="process-element-card"
                [ngClass]="getClassForVariable(getProcessFinishedStatus())">
        <div class="process-element-title">
          Updating application state
          <p>
            <mat-icon class="process-element-icon">
              {{getIconNameForVariable(getProcessFinishedStatus())}}
            </mat-icon>
          </p>
        </div>
      </mat-card>
    </mat-grid-tile>


    <!--second row-->
    <mat-grid-tile *ngIf="!isReconfigurationProcess()" [rowspan]="3">
      <mat-card class="second-row-mat-card">
        <div class="div-with-center">
          <p>Current total number of offers:</p>
        </div>
        <mat-chip-list>
          <div class="div-with-center">
            <mat-chip color="primary" selected>{{totalNumberOffers}}</mat-chip>
          </div>
        </mat-chip-list>

      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="!isReconfigurationProcess()" [rowspan]="3">
      <mat-card class="second-row-mat-card">
        <div class="div-with-center">
          <p>Variables:</p>
          <app-cp-variables-view></app-cp-variables-view>
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [rowspan]="3">
      <mat-card class="second-row-mat-card">
        <div class="div-with-center">
          <p>Solution:</p>
          <app-cp-solution-view></app-cp-solution-view>
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="3">
      <mat-card class="second-row-mat-card">
        <div class="div-with-center">
          <p>Deployment difference:</p>
          <app-deployment-difference></app-deployment-difference>
        </div>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>


  <!--narrow window-->
  <mat-grid-list *ngIf="isNarrowWindow()" cols="2" rowHeight="{{getRowHeightForNarrowWindow()}}">

    <!--first row - Fetching offers-->
    <mat-grid-tile *ngIf="!isReconfigurationProcess()">
      <mat-card class="process-element-card"
                [ngClass]="getClassForVariable(getFetchingOffersStatus())"
                (click)="onFetchingOffersClick()">
        <div class="process-element-title">
          Fetching offers
          <p>
            <mat-icon class="process-element-icon">
              {{getIconNameForVariable(getFetchingOffersStatus())}}
            </mat-icon>
          </p>
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="!isReconfigurationProcess()">
      <mat-card class="second-col-mat-card-narrow-window">
        <div class="div-with-center">
          <p>Current total number of offers:</p>
        </div>
        <mat-chip-list>
          <div class="div-with-center">
            <mat-chip color="primary" selected>{{totalNumberOffers}}</mat-chip>
          </div>
        </mat-chip-list>

      </mat-card>
    </mat-grid-tile>

    <!--second row - Generating CP-->
    <mat-grid-tile *ngIf="!isReconfigurationProcess()">
      <mat-card class="process-element-card"
                [ngClass]="getClassForVariable(getGeneratingConstraintProblemStatus())"
                (click)="onGeneratingCPClick()">
        <div class="process-element-title">
          Generating Constraint Problem
          <p>
            <mat-icon class="process-element-icon">
              {{getIconNameForVariable(getGeneratingConstraintProblemStatus())}}
            </mat-icon>
          </p>
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="!isReconfigurationProcess()">
      <mat-card class="second-col-mat-card-narrow-window">
        <div class="div-with-center">
          <p>Variables:</p>
          <app-cp-variables-view></app-cp-variables-view>
        </div>
      </mat-card>
    </mat-grid-tile>

    <!--third row - Reasoning-->
    <mat-grid-tile>
      <mat-card class="process-element-card"
                [ngClass]="getClassForVariable(getReasoningStatus())"
                (click)="onReasoningClick()">
        <div class="process-element-title">
          Reasoning
          <p>
            <mat-icon class="process-element-icon">
              {{getIconNameForVariable(getReasoningStatus())}}
            </mat-icon>
          </p>
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="second-col-mat-card-narrow-window">
        <div class="div-with-center">
          <p>Solution:</p>
          <app-cp-solution-view></app-cp-solution-view>
        </div>
      </mat-card>
    </mat-grid-tile>

    <!--fourth row - Deploying-->
    <mat-grid-tile>
      <mat-card class="process-element-card"
                [ngClass]="getClassForVariable(getDeployingStatus())"
                (click)="onDeployingClick()">
        <div class="process-element-title">
          Deploying
          <p>
            <mat-icon class="process-element-icon">
              {{getIconNameForVariable(getDeployingStatus())}}
            </mat-icon>
          </p>
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile rowspan="2">
      <mat-card class="second-col-mat-card-narrow-window">
        <div class="div-with-center">
          <p>Deployment difference:</p>
          <app-deployment-difference></app-deployment-difference>
        </div>
      </mat-card>
    </mat-grid-tile>

    <!--fifth row - Updating application state-->
    <mat-grid-tile>
      <mat-card class="process-element-card"
                [ngClass]="getClassForVariable(getProcessFinishedStatus())">
        <div class="process-element-title">
          Updating application state
          <p>
            <mat-icon class="process-element-icon">
              {{getIconNameForVariable(getProcessFinishedStatus())}}
            </mat-icon>
          </p>
        </div>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>

</mat-card>
