table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  padding: var(--double-margin);
}

.monitor-element-mat-card {
  margin-bottom: var(--quadruple-margin);
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
