<div class="mat-elevation-z8">
  <mat-card>
    <mat-card-content>

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <table mat-table [dataSource]="data" matSort matSortActive="metric" matSortDisableClear
             matSortDirection="asc">

        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let row; let i = index;">
            {{(paginator.pageIndex) * paginator.pageSize + i + 1}}
          </td>
        </ng-container>

        <ng-container matColumnDef="metric">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Metric</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.metric}}</td>
        </ng-container>

        <ng-container matColumnDef="sensorType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sensor type</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.sensor.type}}</td>
        </ng-container>

        <ng-container matColumnDef="sensorPort">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sensor port</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.sensor.port}}</td>
        </ng-container>

        <ng-container matColumnDef="targets">
          <th mat-header-cell *matHeaderCellDef>Targets</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">
            <mat-accordion>

              <!--targets list-->
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>targets</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-accordion>
                  <mat-card *ngFor="let targetItem of row.targets" class="monitor-element-mat-card">
                    <p> type: {{targetItem.type}} </p>
                    <p> identifier: {{targetItem.identifier}} </p>
                  </mat-card>
                </mat-accordion>

              </mat-expansion-panel>
            </mat-accordion>
          </td>
        </ng-container>

        <ng-container matColumnDef="sinks">
          <th mat-header-cell *matHeaderCellDef>Sinks</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">
            <mat-accordion>

              <!--sinks list-->
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>sinks</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-accordion>
                  <mat-card *ngFor="let sinkItem of row.sinks" class="monitor-element-mat-card">
                    type: {{sinkItem.type}}
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <span>configuration</span>
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <pre>{{ sinkItem.configuration | json }}</pre>

                    </mat-expansion-panel>
                  </mat-card>
                </mat-accordion>

              </mat-expansion-panel>
            </mat-accordion>
          </td>
        </ng-container>

        <ng-container matColumnDef="tags">
          <th mat-header-cell *matHeaderCellDef>Tags</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">
            <mat-accordion>

              <!--tags list-->
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>tags</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <pre>{{ row.tags | json }}</pre>

              </mat-expansion-panel>
            </mat-accordion>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-spinner [diameter]="150" *ngIf="loadingMonitorCloudiatorListInProgress"></mat-spinner>

      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>

    </mat-card-content>
  </mat-card>
</div>
