<mat-card>
  <form #cloudDefinitionFormId="ngForm" [formGroup]="cloudDefinitionForm">
    <mat-card-title>Cloud definition</mat-card-title>
    <mat-dialog-content>

      <mat-card>
        <mat-form-field>
          <input matInput formControlName="endpoint" placeholder="endpoint">
          <mat-error
            *ngIf="form.endpoint.hasError('missingEndpoint')">
            {{getMissingEndpointMessage()}}
          </mat-error>
        </mat-form-field>

        <mat-spinner *ngIf="providerEnumsLoadingInProgress"></mat-spinner>

        <mat-form-field class="halfWidthField">
          <mat-select formControlName="cloudType" placeholder="cloud type" required>
            <mat-error
              *ngIf="form.endpoint.hasError('required') && (form.endpoint.dirty || form.endpoint.touched)">
              {{getRequiredMsg()}}
            </mat-error>
            <mat-option *ngFor="let cloudType of providerEnums.cloudTypes" [value]="cloudType">
              {{cloudType}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <form [formGroup]="apiForm">

          <mat-spinner *ngIf="providerEnumsLoadingInProgress"></mat-spinner>

          <mat-form-field class="halfWidthField">
            <mat-select formControlName="providerName" placeholder="provider" required>
              <mat-option *ngFor="let providerName of providerEnums.providerNames" [value]="providerName">
                {{providerName}}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="apiFormControl.providerName.hasError('required') && (apiFormControl.providerName.dirty || apiFormControl.providerName.touched)">
              {{getRequiredMsg()}}
            </mat-error>
          </mat-form-field>
        </form>
      </mat-card>


      <mat-card>
        <mat-card-subtitle><h3>Credentials</h3></mat-card-subtitle>
        <form #credentialFormId="ngForm" [formGroup]="credentialForm">
          <mat-form-field>
            <input matInput formControlName="user" placeholder="user" required>
            <mat-error
              *ngIf="credentialFormControl.user.hasError('invalidCredentialsUser')">
              {{getInvalidCredentialsUserMessage()}}
            </mat-error>
            <mat-error
              *ngIf="credentialFormControl.user.hasError('required') && (credentialFormControl.user.dirty || credentialFormControl.user.touched)">
              {{getRequiredMsg()}}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="secret" placeholder="secret" required
                   [type]="secretHide ? 'password' : 'text'">
            <mat-error
              *ngIf="credentialFormControl.secret.hasError('required') && (credentialFormControl.secret.dirty || credentialFormControl.secret.touched)">
              {{getRequiredMsg()}}
            </mat-error>
            <mat-icon matSuffix (click)="secretHide = !secretHide">{{secretHide ? 'visibility_off' :
              'visibility'}}
            </mat-icon>
          </mat-form-field>
        </form>
      </mat-card>


      <mat-card>
        <form [formGroup]="cloudConfigurationForm">
          <mat-form-field>
            <input matInput formControlName="nodeGroup" placeholder="node group" required
                   pattern="{{this.nodeGroupPattern}}">
            <mat-error
              *ngIf="cloudConfigurationFormControl.nodeGroup.hasError('required') && (cloudConfigurationFormControl.nodeGroup.dirty || cloudConfigurationFormControl.nodeGroup.touched)">
              {{getRequiredMsg()}}
            </mat-error>
            <mat-error
              *ngIf="cloudConfigurationFormControl.nodeGroup.hasError('pattern') && (cloudConfigurationFormControl.nodeGroup.dirty || cloudConfigurationFormControl.nodeGroup.touched)">
              {{getNodeGroupPatternMsg()}}
            </mat-error>
          </mat-form-field>

          <mat-card-subtitle><h3>Cloud properties</h3></mat-card-subtitle>

          <button mat-raised-button [disabled]="isReadMode" class=inputWithMargin color="primary"
                  (click)="onAddCloudPropertyButtonClick()">
            <mat-icon>add</mat-icon>
          </button>

          <table mat-table [dataSource]="data">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let row">{{row.name}}</td>
            </ng-container>

            <ng-container matColumnDef="properties">
              <th mat-header-cell *matHeaderCellDef>Properties</th>

              <td mat-cell *matCellDef="let row">
                <!--properties list for cloud definition-->
                <table class="propertiesTable" mat-table [dataSource]="createCloudPropertyData(row)">
                  <ng-container matColumnDef="key">
                    <th mat-header-cell *matHeaderCellDef>Key</th>
                    <td mat-cell *matCellDef="let row">{{row.key}}</td>
                  </ng-container>

                  <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef>Value</th>
                    <td mat-cell *matCellDef="let row">{{row.value}}</td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsProperty"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsProperty;"></tr>
                </table>
              </td>
            </ng-container>

            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef>Edit</th>
              <td mat-cell *matCellDef="let row">
                <button mat-raised-button [disabled]="isReadMode" color="accent" (click)="onEditClick(row)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef>Delete</th>
              <td mat-cell *matCellDef="let row">
                <button mat-raised-button [disabled]="isReadMode" color="warn" (click)="onDeleteClick(row)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

        </form>
      </mat-card>

    </mat-dialog-content>

    <mat-dialog-actions>
      <button mat-raised-button type="button" color="warn" mat-dialog-close>
        <mat-icon>undo</mat-icon>
        Cancel
      </button>
      <button mat-raised-button [disabled]="cloudDefinitionFormId.invalid || isReadMode"
              (click)="saveCloudDefinition(cloudDefinitionFormId)"
              color="primary">
        <mat-icon>save</mat-icon>
        Save
      </button>
    </mat-dialog-actions>

  </form>
</mat-card>
