mat-form-field {
  width: 100%;
}

mat-divider {
  padding: var(--margin-global);
}

table {
  width: 100%;
  margin-top: var(--triple-margin);
}

mat-card {
  padding: var(--margin-global);
  margin: var(--double-margin);
}

.inputWithMargin {
  margin: var(--margin-global);
}

.halfWidthField {
  width: 40%;
}

mat-dialog-actions {
  margin-bottom: var(--margin-global);
}

mat-cell,
.mat-cell,
mat-footer-cell,
.mat-footer-cell,
mat-header-cell, .mat-header-cell {
  padding: var(--double-margin) !important;
}
