<mat-card>
  <mat-tab-group>

    <mat-tab label="Cloudiator jobs">
      <app-job-list></app-job-list>
    </mat-tab>

    <mat-tab label="Cloudiator schedules">
      <app-schedule-list></app-schedule-list>
    </mat-tab>

    <mat-tab label="Cloudiator nodes">
      <app-node-list></app-node-list>
    </mat-tab>

    <mat-tab label="Cloudiator processes">
      <app-process-cloudiator-list></app-process-cloudiator-list>
    </mat-tab>


    <mat-tab label="Cloudiator queue">
      <app-queue-list></app-queue-list>
    </mat-tab>

    <mat-tab label="Cloudiator monitors">
      <app-monitor-list></app-monitor-list>
    </mat-tab>

  </mat-tab-group>
</mat-card>
