<div class="mat-elevation-z8">
  <mat-card>
    <mat-card-content>

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <table mat-table [dataSource]="data" matSort matSortActive="start" matSortDisableClear
             matSortDirection="desc">

        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let row; let i = index;">
            {{(paginator.pageIndex) * paginator.pageSize + i + 1}}
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.status}}</td>
        </ng-container>

        <ng-container matColumnDef="start">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Start</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{getStartDate(row)}}</td>
        </ng-container>

        <ng-container matColumnDef="end">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>End</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{getEndDate(row)}}</td>
        </ng-container>

        <ng-container matColumnDef="diagnosis">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Diagnosis</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.diagnosis}}</td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.location}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-spinner [diameter]="150" *ngIf="loadingQueueListInProgress"></mat-spinner>

      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>

    </mat-card-content>
  </mat-card>
</div>
