<div class="mat-elevation-z8">
  <mat-card>
    <mat-card-content>

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <table mat-table [dataSource]="data" matSort matSortActive="name" matSortDisableClear
             matSortDirection="asc">

        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let row; let i = index;">
            {{(paginator.pageIndex) * paginator.pageSize + i + 1}}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.state}}</td>
        </ng-container>

        <ng-container matColumnDef="provider">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Provider</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.provider}}</td>
        </ng-container>

        <ng-container matColumnDef="locationId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.locationId}}</td>
        </ng-container>

        <ng-container matColumnDef="memory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Memory</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.memory}}</td>
        </ng-container>

        <ng-container matColumnDef="runtime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Runtime</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.runtime}}</td>
        </ng-container>

        <ng-container matColumnDef="stackId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Stack</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.stackId}}</td>
        </ng-container>

        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
          <td mat-cell *matCellDef="let row">{{row.city}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-spinner [diameter]="150" *ngIf="loadingFaasListInProgress"></mat-spinner>

      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>

    </mat-card-content>
  </mat-card>
</div>
