<mat-card>
  <div class="file-info">{{file.name}} ({{convertBytesToSize(file.size)}})</div>
  <div class="file-in-queue">
    <mat-progress-bar class="file-upload-progress-bar" [value]="progressPercentage"></mat-progress-bar>

    <button mat-button color="primary" [disabled]="isUploading" (click)="upload()">
      <mat-icon>file_upload</mat-icon>
    </button>

    <button mat-button color="warn" [disabled]="isUploading" (click)="remove()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <div class="file-info">{{progressPercentage}}%</div>
  <span> {{convertBytesToSize(loaded)}} of {{convertBytesToSize(total)}}</span>
</mat-card>
