button {
  margin-left: var(--margin-global);
}

.file-in-queue {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

.file-upload-progress-bar {
  padding-top: var(--double-margin);
  width: 50%;
}

mat-card {
  width: 100%;
  padding: var(--margin-global);
  margin: var(--margin-global);
}
