<mat-card>
  <mat-tab-group>

    <mat-tab label="Clouds">
      <app-cloud-list></app-cloud-list>
    </mat-tab>

    <mat-tab label="Hardware">
      <app-hardware-list></app-hardware-list>
    </mat-tab>

    <mat-tab label="Locations">
      <app-location-list></app-location-list>
    </mat-tab>

    <mat-tab label="Images">
      <app-image-list></app-image-list>
    </mat-tab>
  </mat-tab-group>
</mat-card>
