<mat-card>
  <mat-tab-group>

    <mat-tab label="Common users">
      <app-common-user-list></app-common-user-list>
    </mat-tab>

    <mat-tab label="Admins">
      <app-admin-list></app-admin-list>
    </mat-tab>

    <mat-tab label="Technical users">
      <app-technical-user-list></app-technical-user-list>
    </mat-tab>

  </mat-tab-group>
</mat-card>
