<div>
  <p>
    <mat-card-subtitle>
      <h3>
        Byon Definitions
      </h3>
      <button mat-raised-button color="primary" (click)="onByonButtonClick()">
        Byon definitions configuration
      </button>
  <p>
    You can choose some of your available Byon definitions to use in deployment. Byon is your own virtual machine,
    which could be used as candidate for solution of your problem. This is optional step.
  </p>
  </mat-card-subtitle>
  </p>

  <mat-form-field class="wide-field">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="data" matSort matSortDisableClear matSortActive="name"
         matSortDirection="asc">

    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let row; let i = index;" (click)="onRowClick(row)">
        {{(paginator.pageIndex) * paginator.pageSize + i + 1}}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="publicIpAddress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>public IP v4 address</th>
      <td mat-cell *matCellDef="let row">{{getPublicIpV4(row)}}</td>
    </ng-container>

    <ng-container matColumnDef="cores">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cores</th>
      <td mat-cell *matCellDef="let row">{{row.nodeProperties.numberOfCores}}</td>
    </ng-container>

    <ng-container matColumnDef="memory">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Memory</th>
      <td mat-cell *matCellDef="let row">{{row.nodeProperties.memory}}</td>
    </ng-container>

    <ng-container matColumnDef="disk">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Disk</th>
      <td mat-cell *matCellDef="let row">{{row.nodeProperties.disk}}</td>
    </ng-container>

    <ng-container matColumnDef="system">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>System</th>
      <td mat-cell *matCellDef="let row">{{getSystemWithVersion(row)}}</td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
      <td mat-cell *matCellDef="let row">{{getLocation(row)}}</td>
    </ng-container>

    <ng-container matColumnDef="diagnostic">
      <th mat-header-cell *matHeaderCellDef>Diagnostic</th>
      <td mat-cell *matCellDef="let row">{{row.diagnostic}}</td>
    </ng-container>

    <ng-container matColumnDef="add">
      <th mat-header-cell *matHeaderCellDef>Add</th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="accent" (click)="onAddByonToCloudiatorClick(row)"
                [disabled]="isByonFromCloudiator(row)">
          <mat-icon>add</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="warn" (click)="onDeleteByonFromCloudiatorClick(row)"
                [disabled]="!isByonFromCloudiator(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-spinner *ngIf="byonLoadingInProgress"></mat-spinner>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
