mat-card {
  display: block;
  overflow: hidden;
}

mat-form-field {
  width: 100%;
  margin-top: 3%;
}

mat-card-actions {
  float: left;
}

#newUserForm {
  width: 35%;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
