table {
  width: 100%;
}

mat-form-field {
  margin-right: var(--margin-global);
}

.wide-input {
  width: 40%;
}

.card-with-margin {
  margin: var(--margin-global);
}

.buttonWithMargin {
  margin-right: var(--double-margin);
}

mat-cell,
.mat-cell,
mat-footer-cell,
.mat-footer-cell,
mat-header-cell, .mat-header-cell {
  padding: var(--double-margin) !important;
}
