<mat-card>
  <form #cloudPropertyFormId="ngForm" [formGroup]="cloudPropertyForm">
    <mat-card-title>Cloud property</mat-card-title>
    <mat-dialog-content>

      <mat-card>
        <mat-form-field class="wide-input">
          <input matInput formControlName="name" placeholder="property own name" required>
          <mat-error
            *ngIf="cloudDefForm.name.errors && cloudDefForm.name.errors.invalidName">
            {{getInvalidPropertyNameMessage()}}
          </mat-error>
          <mat-error
            *ngIf="cloudDefForm.name.errors && cloudDefForm.name.errors.required">
            {{getRequiredMsg()}}
          </mat-error>
        </mat-form-field>


        <mat-card class="card-with-margin">
          <form #singlePropertyFormId="ngForm" [formGroup]="singlePropertyForm">
            <mat-card-subtitle>{{singlePropertyFormTitle}}</mat-card-subtitle>
            <mat-card-content>

              <mat-card>
                <mat-icon color="primary">info</mat-icon>
                Security group definition
                <p> In order to have open specific ports on your instances, please define own security group (with
                  proper rules) on your cloud provider.
                  In that form, please add property with key: <strong>{{propertiesNameForSG}}</strong>, as value use id
                  of this security group.</p>
              </mat-card>

              <mat-form-field class="wide-input">
                <input matInput formControlName="key" placeholder="Key" required>
                <mat-error *ngIf="form.key.errors && form.key.errors.invalidKey">
                  {{getInvalidKeyMessage()}}
                </mat-error>
                <mat-error *ngIf="form.key.errors && form.key.errors.required && (form.key.dirty || form.key.touched)">
                  {{getRequiredMsg()}}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="wide-input">
                <input matInput formControlName="value" placeholder="Value" required>
                <mat-error
                  *ngIf="form.value.errors && form.value.errors.required && (form.value.dirty || form.value.touched)">
                  {{getRequiredMsg()}}
                </mat-error>
              </mat-form-field>

              <button mat-raised-button class=buttonWithMargin color="warn"
                      (click)="onCancelSinglePropertiesButtonClick()">
                <mat-icon>undo</mat-icon>
                Cancel
              </button>
              <button mat-raised-button class=buttonWithMargin [disabled]="singlePropertyFormId.invalid" color="primary"
                      (click)="onSaveSinglePropertiesButtonClick(singlePropertyFormId)">
                <mat-icon>save</mat-icon>
                Save
              </button>
            </mat-card-content>
          </form>
        </mat-card>

        <mat-card class="card-with-margin">
          <mat-card-subtitle>Properties</mat-card-subtitle>
          <table mat-table [dataSource]="data">
            <ng-container matColumnDef="key">
              <th mat-header-cell *matHeaderCellDef>Key</th>
              <td mat-cell *matCellDef="let row">{{row.key}}</td>
            </ng-container>

            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef>Value</th>
              <td mat-cell *matCellDef="let row">{{row.value}}</td>
            </ng-container>

            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef>Edit</th>
              <td mat-cell *matCellDef="let row">
                <button mat-raised-button color="accent" (click)="onEditClick(row)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef>Delete</th>
              <td mat-cell *matCellDef="let row">
                <button mat-raised-button color="warn" (click)="onDeleteClick(row)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card>

      </mat-card>

    </mat-dialog-content>

    <mat-dialog-actions>
      <button mat-raised-button type="button" color="warn" mat-dialog-close>
        <mat-icon>undo</mat-icon>
        Cancel
      </button>
      <button mat-raised-button [disabled]="cloudPropertyFormId.invalid"
              (click)="saveCloudProperty(cloudPropertyFormId)"
              color="primary">
        <mat-icon>save</mat-icon>
        Save
      </button>
    </mat-dialog-actions>

  </form>
</mat-card>
