<mat-card>

  <mat-card-content>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSortActive="id" matSortDirection="asc" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let row; let i = index;">
            {{(paginator.pageIndex) * paginator.pageSize + i + 1}}
          </td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let element"> {{element.id}}</td>
        </ng-container>

        <!-- Provider name Column -->
        <ng-container matColumnDef="providerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Provider name</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let element"> {{element.api.providerName}}</td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="cloudType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Type</th>
          <td mat-cell *matCellDef="let element"> {{element.cloudType}}</td>
        </ng-container>

        <!-- Endpoint Column -->
        <ng-container matColumnDef="endpoint">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Endpoint</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let element"> {{getEndpointName(element.endpoint)}}</td>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> State</th>
          <td mat-cell *matCellDef="let element"> {{element.state}}</td>
        </ng-container>

        <!-- Diagnostic Column -->
        <ng-container matColumnDef="diagnostic">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Diagnostic</th>
          <td mat-cell *matCellDef="let element"> {{element.diagnostic}}</td>
        </ng-container>

        <!-- Owner Column -->
        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let element"> {{element.owner}}</td>
        </ng-container>

        <!-- Node group Column -->
        <ng-container matColumnDef="nodeGroup">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Node group</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let element"> {{element.cloudConfiguration.nodeGroup}}
          </td>
        </ng-container>

        <!-- Properties Column -->
        <ng-container matColumnDef="properties">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Properties</th>
          <td mat-cell *matCellDef="let element"
              matBadge="{{getNumberOfProperties(element.cloudConfiguration.properties)}}" matBadgePosition="before">

            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span>properties</span>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-list>
                <mat-list-item
                  *ngFor="let propertyItem of createPropertiesListFromMap(element.cloudConfiguration.properties)">
                  {{propertyItem.key}} : {{propertyItem.value}}
                </mat-list-item>
              </mat-list>

            </mat-expansion-panel>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-spinner [diameter]="150" *ngIf="loadingDataInProgress"></mat-spinner>

      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>

    </div>

  </mat-card-content>

</mat-card>
