<mat-card>
  <mat-card-title>Choosing process to monitoring</mat-card-title>
  <mat-dialog-content>
    <mat-action-list>
      <h3 mat-subheader>Your active processes</h3>
      <mat-list-item *ngFor="let process of getStartedProcesses()"
                     (click)="onChooseProcessClick(process)">
        <mat-icon mat-list-icon class="active-process-icon">perm_data_setting</mat-icon>
        <h4 mat-line>{{process.applicationId}}</h4>
        <p mat-line>{{process.processId}}</p>
      </mat-list-item>
    </mat-action-list>
  </mat-dialog-content>
</mat-card>

