<div class="mat-elevation-z8">
  <mat-card>
    <mat-card-content>

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <table mat-table [dataSource]="data" matSort matSortActive="name" matSortDisableClear
             matSortDirection="asc">

        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let row; let i = index;">
            {{(paginator.pageIndex) * paginator.pageSize + i + 1}}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.owner}}</td>
        </ng-container>

        <ng-container matColumnDef="properties">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Properties</th>
          <td mat-cell class="field-with-wrapping job-properties-column" *matCellDef="let row">
            <mat-accordion>

              <!--tasks list-->
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>tasks</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-accordion>
                  <mat-expansion-panel
                    *ngFor="let taskItem of row.tasks"
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <span>{{taskItem.name}}</span>
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <pre>{{ taskItem | json }}</pre>

                  </mat-expansion-panel>
                </mat-accordion>
              </mat-expansion-panel>

              <!--communications list-->
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>communications</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <pre>{{ row.communications | json }}</pre>

              </mat-expansion-panel>


              <!--requirements list-->
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>requirements</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <pre>{{ row.requirements | json }}</pre>

              </mat-expansion-panel>

              <!--optimization list-->
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>optimization</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <pre>{{ row.optimization | json }}</pre>

              </mat-expansion-panel>
            </mat-accordion>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-spinner [diameter]="150" *ngIf="loadingJobListInProgress"></mat-spinner>

      <mat-paginator [pageSizeOptions]="[3, 6, 10]" showFirstLastButtons></mat-paginator>

    </mat-card-content>
  </mat-card>
</div>
