<mat-card>

  <mat-card-content>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSortActive="name" matSortDirection="asc" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let row; let i = index;">
            {{(paginator.pageIndex) * paginator.pageSize + i + 1}}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let element"> {{element.name}}</td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let element"> {{element.id}}</td>
        </ng-container>

        <!-- Provider id Column -->
        <ng-container matColumnDef="providerId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Provider id</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let element"> {{element.providerId}}</td>
        </ng-container>

        <!-- Location scope Column -->
        <ng-container matColumnDef="locationScope">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Location scope</th>
          <td mat-cell *matCellDef="let element"> {{element.locationScope}}</td>
        </ng-container>

        <!-- isAssignable Column -->
        <ng-container matColumnDef="isAssignable">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Assignable</th>
          <td mat-cell *matCellDef="let element"> {{element.isAssignable}}</td>
        </ng-container>

        <!-- Country Column -->
        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Country</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let element">
            {{getCountryForGeoLocation(element.geoLocation)}}
          </td>
        </ng-container>

        <!-- City Column -->
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> City</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let element">
            {{getCityForGeoLocation(element.geoLocation)}}
          </td>
        </ng-container>

        <!-- Parent Column -->
        <ng-container matColumnDef="parent">
          <th mat-header-cell *matHeaderCellDef> Parent</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let element">
            <mat-tree [dataSource]="createTreeDataSource(element.parent)" [treeControl]="treeControl"
                      class="example-tree">

              <!--for location without parent - leaf-->
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                <li class="mat-tree-node">
                  <button mat-icon-button disabled></button>
                  {{node.name}}
                </li>
              </mat-tree-node>

              <!--for location with parent - expandable node-->
              <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                <li>
                  <div class="mat-tree-node">
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                      </mat-icon>
                    </button>
                    {{node.name}}
                  </div>
                  <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                    <ng-container matTreeNodeOutlet></ng-container>
                  </ul>
                </li>
              </mat-nested-tree-node>
            </mat-tree>
          </td>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> State</th>
          <td mat-cell *matCellDef="let element"> {{element.state}}</td>
        </ng-container>

        <!-- Owner Column -->
        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let element"> {{element.owner}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-spinner [diameter]="150" *ngIf="loadingDataInProgress"></mat-spinner>

      <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>

    </div>

  </mat-card-content>

</mat-card>
