table {
  width: 100%;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: var(--double-margin);
}

.mat-spinner-div {
  padding: var(--quadruple-margin);
}

#id-column {
  flex: 0 0 30% !important;
  width: 30% !important;
}

#component-column {
  flex: 0 0 20% !important;
  width: 20% !important;
}
