<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSortActive="id" matSortDirection="asc" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let row; let i = index;">
        {{(paginator.pageIndex) * paginator.pageSize + i + 1}}
      </td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
      <td mat-cell *matCellDef="let element" class="field-with-wrapping"> {{element.id}}</td>
    </ng-container>

    <!-- Component id Column -->
    <ng-container matColumnDef="componentId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Component id</th>
      <td mat-cell *matCellDef="let element" class="field-with-wrapping"> {{element.componentId}}</td>
    </ng-container>

    <!-- Variable type Column -->
    <ng-container matColumnDef="variableType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Variable type</th>
      <td mat-cell *matCellDef="let element"> {{element.variableType}}</td>
    </ng-container>

    <!-- Domain values Column -->
    <ng-container matColumnDef="domainValues">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Domain values</th>
      <td mat-cell *matCellDef="let element"> {{getDomainValues(element.domain)}}</td>
    </ng-container>

    <!-- Domain type Column -->
    <ng-container matColumnDef="domainType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Domain type</th>
      <td mat-cell *matCellDef="let element"> {{element.domain.type}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="mat-spinner-div" *ngIf="loadingDataInProgress">
    <mat-spinner></mat-spinner>
  </div>

  <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>

</div>
