button {
  padding: 0 5px;
}

mat-card {
  margin: 10px 0;
}

.mat-card-content {
  margin-left: 16px;
}


.mat-card-actions {
  margin-left: 16px;
}

.mat-card-actions span {
  padding-right: 8px;
}
