<div id="test-runner-id">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Run tests
      </mat-card-title>
      <mat-card-subtitle>
        Click on the button to execute the tests.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="testsRunning" >
        <div>
          Please wait. It may take a while...
        </div>
        <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        [disabled]="testsRunning"
        (click)="runTests()"
        title="Run tests"
      >
        <mat-icon>play_arrow</mat-icon>
        <span>Run tests</span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
