<div class="mat-elevation-z8">
  <mat-card>
    <mat-card-content>

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <table mat-table [dataSource]="data" matSort matSortActive="name" matSortDisableClear
             matSortDirection="asc">

        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let row; let i = index;">
            {{(paginator.pageIndex) * paginator.pageSize + i + 1}}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <ng-container matColumnDef="nodeType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Node type</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.nodeType}}</td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.state}}</td>
        </ng-container>

        <ng-container matColumnDef="publicIp">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Public IP</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{getPublicIp(row)}}</td>
        </ng-container>

        <ng-container matColumnDef="privateIp">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Private IP</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{getPrivateIp(row)}}</td>
        </ng-container>

        <ng-container matColumnDef="provider">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Provider</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{getProviderName(row)}}</td>
        </ng-container>

        <ng-container matColumnDef="diagnostic">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Diagnostic</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.diagnostic}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-spinner [diameter]="150" *ngIf="loadingNodeListInProgress"></mat-spinner>

      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>

    </mat-card-content>
  </mat-card>
</div>
