<mat-card>
  <mat-dialog-content>
    <mat-action-list>

      <h3 mat-subheader>Your active processes</h3>
      <mat-list-item *ngFor="let process of getStartedProcesses()"
                     (click)="onChooseProcessClick(process)">
        <mat-icon mat-list-icon class="active-process">perm_data_setting</mat-icon>
        <h4 mat-line>{{process.applicationId}}</h4>
        <p mat-line>{{process.processId}}</p>
        <p mat-line>Started at: {{process.startDate}}</p>
      </mat-list-item>

      <mat-divider></mat-divider>

      <h3 mat-subheader>Your finished processes</h3>
      <mat-list-item *ngFor="let process of getFinishedProcesses()"
                     (click)="onChooseProcessClick(process)">
        <mat-icon mat-list-icon class="finished-process">perm_data_setting</mat-icon>
        <h4 mat-line>{{process.applicationId}}</h4>
        <p mat-line>Process id: {{process.processId}}</p>
        <p mat-line>Started at: {{process.startDate}}</p>
        <p mat-line>Finished at: {{process.finishDate}}</p>
      </mat-list-item>

    </mat-action-list>
  </mat-dialog-content>
</mat-card>
