<mat-card>
  <mat-card-header>
    <mat-card-title>Metrics for simulation</mat-card-title>
    <mat-card-subtitle>
      In order to perform simulation, completed deployment process in SIMULATION mode is required.
      Simulation doesn't effect in real VMs or functions creation.
      You can see impact of your personal metrics values on deployment result for chosen application.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form #simulationFormId="ngForm" [formGroup]="simulationForm">

      <mat-spinner *ngIf="applicationIdsLoadingInProgress"></mat-spinner>

      <div class="card-div">
        <mat-form-field class="wide-field-with-margin">
          <mat-select formControlName="applicationId" placeholder="application id" name="applicationId" required>
            <mat-option *ngFor="let appId of applicationIds" [value]="appId">
              {{appId}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.applicationId.errors">{{getErrorRequiredMessage()}}</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="onLoadMetricNamesClick()"
                [disabled]="isEmptyApplicationIdsList()">
          Load metric names
        </button>
      </div>

      <mat-spinner *ngIf="metricNamesLoadingInProgress"></mat-spinner>

      <mat-card *ngIf="!isEmptyMetricsList()">
        <form [formGroup]="metricsForm">

          <div *ngFor="let formElem of metricsNames">
            <mat-form-field appearance="outline" class="element-with-right-margin">
              <input matInput formControlName="{{formElem}}Label" class="metric-name-input">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <input matInput formControlName="{{formElem}}" placeholder="{{formElem}} value" required>
            </mat-form-field>
          </div>
        </form>
      </mat-card>

      <button mat-raised-button [disabled]="simulationFormId.invalid || isMetricsFormInvalid()" class="bottom-button"
              (click)="sendMetrics(simulationFormId)"
              color="accent">
        <mat-icon>input</mat-icon>
        Reconfigure
      </button>

    </form>
  </mat-card-content>

</mat-card>
