mat-card {
  margin: var(--double-margin);
}

.wide-field-with-margin {
  width: 20%;
  margin-right: var(--double-margin);
}

.metric-name-input {
  color: var(--color-dark);
}

.element-with-right-margin {
  margin-right: var(--double-margin);
}

.bottom-button {
  margin-top: var(--double-margin);
}
