<div id="loginForm">
  <mat-card>
    <mat-card-title>
      Log in
    </mat-card-title>

      <form #loginFormId="ngForm" [formGroup]="loginForm">
        <mat-card-content>
          <mat-form-field class="fullWidthControl">
            <mat-icon matPrefix>{{'person'}}</mat-icon>
            <input appAutoFocus formControlName="username" name="username" matInput placeholder="Username" required>
            <mat-error *ngIf="form.username.errors">Required field</mat-error>
          </mat-form-field>

          <mat-form-field class="fullWidthControl">
            <mat-icon matPrefix>{{'lock'}}</mat-icon>
            <input formControlName="password" name="password" matInput placeholder="Password" required
                   [type]="passwordHide ? 'password' : 'text'">
            <mat-error *ngIf="form.password.errors">Required field</mat-error>
            <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility_off' :
              'visibility'}}
            </mat-icon>
          </mat-form-field>
        </mat-card-content>

        <mat-card-actions *ngIf="!loginInProgress">
          <button mat-raised-button [disabled]="loginForm.invalid" (click)="onLoginClick(loginFormId)" color="primary">
            Log in
          </button>
        </mat-card-actions>
      </form>

    <mat-spinner *ngIf="loginInProgress"></mat-spinner>
  </mat-card>
</div>
