mat-card {
  display: block;
  overflow: hidden;
}

mat-form-field {
  width: 100%;
}

mat-card-actions {
  float: left;
}

#loginForm {
  width: 35%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
