:root {
  --margin-global: 5px;
  --double-margin: 10px;
  --triple-margin: 15px;
  --quadruple-margin: 20px;
  --big-margin: 40px;
  --color-primary: #31AAE1;
  --color-accent: #00B39C;
  --color-warn: #f44336;
  --color-grey: #bdbdbd;
  --color-dark: #1B2226;
  --color-dark-primary: #0655A5;
}

.button-on-right-side {
  position: relative;
  float: right;
  margin-right: var(--double-margin);
}

.element-dark-primary {
  background-color: var(--color-dark-primary) !important;
  color: whitesmoke !important;
}

.mat-spinner {
  position: relative;
  margin-left: 50%;
}

.field-with-wrapping {
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
