@import '~@angular/material/theming';

@include mat-core();

$custom-light-blue: (
  50: #31AAE1,
  100: #90d1ef,
  200: #bce3f5,
  300: #31AAE1,
  400: #31AAE1,
  500: #31AAE1,
  600: #31AAE1,
  700: #31AAE1,
  800: #31AAE1,
  900: #31AAE1,
  A100: #31AAE1,
  A200: #31AAE1,
  A400: #31AAE1,
  A700: #31AAE1,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$custom-green: (
  50: #00B39C,
  100: #00B39C,
  200: #00B39C,
  300: #00B39C,
  400: #00B39C,
  500: #00B39C,
  600: #00B39C,
  700: #00B39C,
  800: #00B39C,
  900: #00B39C,
  A100: #00B39C,
  A200: #00B39C,
  A400: #00B39C,
  A700: #00B39C,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$custom-yellow: (
  50: #FABF17,
  100: #FABF17,
  200: #FABF17,
  300: #FABF17,
  400: #FABF17,
  500: #FABF17,
  600: #FABF17,
  700: #FABF17,
  800: #FABF17,
  900: #FABF17,
  A100: #1B2226,
  A200: #1B2226,
  A400: #1B2226,
  A700: #1B2226,
  contrast: (
    50: #1B2226,
    100: #1B2226,
    200: #1B2226,
    300: #1B2226,
    400: #1B2226,
    500: #1B2226,
    600: #1B2226,
    700: #1B2226,
    800: #1B2226,
    900: #1B2226,
    A100: #1B2226,
    A200: #1B2226,
    A400: #1B2226,
    A700: #1B2226,
  )
);

$custom-red: (
  50: #f44336,
  100: #f44336,
  200: #f44336,
  300: #f44336,
  400: #f44336,
  500: #f44336,
  600: #f44336,
  700: #f44336,
  800: #f44336,
  900: #f44336,
  A100: #f44336,
  A200: #f44336,
  A400: #f44336,
  A700: #f44336,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);


$my-app-primary: mat-palette($custom-light-blue, 50);
$my-app-accent: mat-palette($custom-green, 50);
$my-app-warn: mat-palette($custom-yellow, 50);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

$my-form-warn: mat-palette($custom-red, 50);
$my-input-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-form-warn);
@include mat-form-field-theme($my-input-theme);

