<div class="mat-elevation-z8">
  <mat-card>

    <mat-card-content>
      <button mat-raised-button color="primary" (click)="onAddNewIpAddressClick()" [disabled]="isReadMode">
        <mat-icon>add</mat-icon>
        Add
      </button>

      <table mat-table [dataSource]="data" matSort matSortActive="name" matSortDisableClear
             matSortDirection="asc">

        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let row; let i = index;">
            {{i + 1}}
          </td>
        </ng-container>

        <ng-container matColumnDef="ipAddressType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ip address type</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.ipAddressType}}</td>
        </ng-container>

        <ng-container matColumnDef="ipVersion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ip version</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.ipVersion}}</td>
        </ng-container>

        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let row">{{row.value}}</td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let row">
            <button mat-raised-button color="accent" (click)="onEditIpAddressClick(row)" [disabled]="isReadMode">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let row">
            <button mat-raised-button color="warn" (click)="onDeleteIpAddressClick(row)" [disabled]="isReadMode">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </mat-card-content>
  </mat-card>
</div>
