table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-card {
  margin: var(--double-margin);
}

.top-header {
  text-align: center;
  border: 1px solid #CCC;
  padding: 0 !important;
}
