<mat-card>

  <mat-card-content>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSortActive="name" matSortDirection="asc" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let row; let i = index;">
            {{(paginator.pageIndex) * paginator.pageSize + i + 1}}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let element"> {{element.name}}</td>
        </ng-container>

        <!-- Ami id Column -->
        <ng-container matColumnDef="amiId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ami id</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let element"> {{element.providerId}}</td>
        </ng-container>

        <!-- OS family Column -->
        <ng-container matColumnDef="OSFamily">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> OS family</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let element">
            {{element.operatingSystem.operatingSystemFamily}}
          </td>
        </ng-container>

        <!-- OS architecture Column -->
        <ng-container matColumnDef="OSArchitecture">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> OS architecture</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let element">
            {{element.operatingSystem.operatingSystemArchitecture}}
          </td>
        </ng-container>

        <!-- OS version Column -->
        <ng-container matColumnDef="OSVersion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> OS version</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let element">
            {{element.operatingSystem.operatingSystemVersion}}
          </td>
        </ng-container>

        <!-- location Column -->
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Location</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let element"> {{element.location.name}}</td>
        </ng-container>

        <!-- state Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> State</th>
          <td mat-cell *matCellDef="let element"> {{element.state}}</td>
        </ng-container>

        <!-- owner Column -->
        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner</th>
          <td mat-cell class="field-with-wrapping" *matCellDef="let element"> {{element.owner}}</td>
        </ng-container>


        <!-- Header row first group -->
        <ng-container matColumnDef="header-row-first-group">
          <th mat-header-cell class="top-header" *matHeaderCellDef [style.text-align]="center" [attr.colspan]="3">
          </th>
        </ng-container>

        <!-- Header row second group -->
        <ng-container matColumnDef="header-row-second-group">
          <th mat-header-cell class="top-header" *matHeaderCellDef [attr.colspan]="3">
            Operating system
          </th>
        </ng-container>

        <!-- Header row third group -->
        <ng-container matColumnDef="header-row-third-group">
          <th mat-header-cell class="top-header" *matHeaderCellDef [attr.colspan]="3">
          </th>
        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="['header-row-first-group', 'header-row-second-group', 'header-row-third-group']"></tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-spinner [diameter]="150" *ngIf="loadingDataInProgress"></mat-spinner>

      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>

    </div>

  </mat-card-content>

</mat-card>
