<mat-card>
  <mat-card-header>
    <mat-card-title>
      Test Serverless Functions
    </mat-card-title>
    <mat-card-subtitle>
      Here you can test your serverless functions which have been deployed to the cloud.
      Upload a test configuration file and then run the tests.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <app-uploader-yml></app-uploader-yml>
    <app-test-runner
      [testsRunning]="testsRunning"
      (runTestsEvent)="runTests()"
    ></app-test-runner>
    <app-test-results
      [results]="testResultTree"
    ></app-test-results>
  </mat-card-content>
</mat-card>
